[2013-04-26 10:24] maci0 opened #1 "Arms of Lilith normalmaps"
The normalmaps for lilith.bsp are quite poor. Unfortunately, this level uses a lot of textures, so improving them is no small task.

[code]

[2013-04-26 10:24] maci0 opened #2 "The Warehouse"
TRaK is working on a remake of q2dm8. Opening this ticket to log any issues / progress updates.

    owner trak deleted
    status changed from new to assigned

r1618 adds map-q2wdm8.pak to branches/wip. The map is a near pixel-perfect rebuild of the original level.

What's left:

    Lighting could use some tuning
    Details such as light fixtures and various eye candy
    Some weapons and items

[2013-04-26 10:25] maci0 opened #3 "The Frag Pipe"
TRaK expressed interest in retexturing our q2dm3 remake. While we only really 'need' better normalmaps, TRaK's textures would of course be great to have.

CC'ing Thorn since he has a related issue (#152, Frag Pipe normalmaps). Can you guys coordinate on who is doing what and when?

    owner trak deleted
    status changed from new to assigned

r1618 adds an updated quake2world-data/branches/wip/t

[2013-04-26 10:25] maci0 opened #4 "Gib models"
It'd be really fun to add some gibs (bloody chunks of flesh) into the game for when players are over-killed, so that instead of a corpse they leave behind a pile of chunks.

I'm thinking we could have 2-3 separate gib chunk models (.obj) with diffuse and normalmap. They don't have to be super-detailed at all; people will get the idea

[2013-04-26 10:26] maci0 opened #5 "Parallax Alphas"
http://jdolan.dyndns.org/trac/ticket/218

attachements !!!

[2013-04-26 10:27] maci0 opened #6 "Tokays Towers rebuild"
Reassigning to TRaK, not sure where this one left off. TRaK, feel free to check in a partial .map to quake2world-data/trunk/src/default/maps if you don't think you'll finish this one.

[2013-04-26 10:27] maci0 opened #7 "Necropolis normalmaps"
The majority of the normalmaps for Necropolis are terrible. They should almost all be redone.

attachements

http://jdolan.dyndns.org/trac/ticket/176

[2013-04-26 10:28] maci0 opened #8 "CTF Flag icon for scoreboard"
Need a flag icon for the scoreboard to indicate flag carrier. Currently using the quad icon :P The icon will be drawn ontop of the player skin icon.

attachements
.
http://jdolan.dyndns.org/trac/ticket/229

[2013-04-26 10:28] maci0 opened #9 "Debris models for explosions"
Along the same lines as the gib models ticket, it'd be nice to have a few random small pieces of concrete / metal / ubiquitous Quake matter to scatter after explosions, like what Quake2 had in single-player. We could use these to enhance explosions in-game.

[2013-04-26 10:29] maci0 opened #10 "add demos/ directory and actually create some demo files"
we need demo files so we can have proper benchmarks across multiple systems with different graphic settings.

Changed 13 months ago by jdolan

Agreed, but I won't bother doing this until the network protocol is more stable. Its currently changing a couple times per month.

[2013-04-26 11:32] #5 closed, assigned to nobody

[2013-04-30 01:11] #10 closed, assigned to nobody

[2013-04-30 01:12] jdolan opened #11 "Gehenna drill / pump model not appearing"
The outdoor "drill" / "pump" model in Gehenna has not been visible for some time. It is not present in `master` or `experimental`. Hopefully it's just something wrong with the .map?

[2013-04-30 01:12] jdolan opened #12 "Fractures has brush error"
In the very center of the map, there's a brush error behind one of the trigger_push (fan jump pads). Easy fix for anyone with a working Radiant.

[2013-07-12 12:23] #12 closed, assigned to nobody

[2013-10-10 16:41] #11 closed, assigned to nobody

[2013-10-12 19:22] jdolan opened #13 "Player spawns are sunken into the floor in Radiant"
The bounding box for these is likely off in entities.def.

[2013-11-06 01:11] #8 closed, assigned to WickedShell

[2013-11-06 01:19] jdolan opened #14 "Tokay's Towers"

[2013-11-06 01:24] jdolan opened #15 "Lost Hallways"
Probably the least popular Q2 DM map, but it should be a quick port, especially if we use assets from the ubiquitous "Jim W" texture pak. Also, it's a great slice of Q2 nostalgia, even if it isn't the best DM map.

[2013-11-06 01:26] jdolan opened #16 "The Pitts"
One of my personal favorite Q2 DM maps, I would really love to see this one ported for 1.0.

[2013-11-06 01:28] jdolan opened #17 "Lava Tomb"

[2013-11-06 01:28] jdolan opened #18 "The Slimy Place"

[2013-11-06 01:29] jdolan opened #19 "The Rage"
PYROGXPILOT has been working on a port of ztn2dm3. We have ztn's permission.

[2013-11-06 01:32] jdolan opened #20 "Trial by Error"
This is a wonderful little map that just needs some lighting work to be included in the game.

[2013-11-06 01:34] jdolan opened #21 "Aggressor"
We have a decent port of Aggressor kicking around in the WIP branch. It would really benefit from some more intricate brushwork and modern textures, tho. This could be a great project for someone to get their feet wet with mapping for Q2W.

[2013-11-06 01:35] jdolan opened #22 "Aghast"
Vondur was kind enough to donate this map to us. It should be kept in its QRP trim, but it needs lighting and normalmaps work.

[2013-11-06 01:37] jdolan opened #23 "The Necropolis"
ShadoW's map Necropolis has some really great areas, but could use a little geometry work. @Cgreenhaw made some excellent textures and normalmaps for it that are kicking around in the pk3 file. We should be able to salvage a map out of this.

[2013-11-06 01:38] jdolan opened #24 "BFG10K"
The texture for this is washed out and soft. The model might be fine?

[2013-11-06 01:43] jdolan opened #25 "Hyperblaster"
The Hyperblaster texture is a little fuzzy. Would you be able to bake a normalmap for it, too?

[2013-11-06 02:27] jdolan opened #26 "The Slimy Place"

[2013-11-08 21:50] jdolan opened #27 "Fix or improve mesh model scalings"
Nearly every one of our mesh models is off-scale for the game. Our bandaid solution for this has been world.cfg, which I'm not proposing that we remove. However, it'd be _really_ nice if our models looked at least somewhat correct in Radiant, and didn't require major adjustments via world.cfg just to appear somewhat correct in-game. What's finally pushing me to suggest that we fix this is the supe

[2013-11-12 19:25] #20 closed

[2013-11-12 19:29] jdolan opened #28 "Chastity Belt Duel"
Jalisk0 gave us permission several years ago to port q2rdm2. You can find `chastity.map` available in `src/default/maps`. We should retexture this one in something tech / modern. Perhaps using one of Phil K's free texture sets?

[2013-11-12 21:20] jdolan opened #29 "Aerowalk"
Aerowalk (the original) was released without any restrictive licensing clauses, and so we're in the clear to port this one over. I've decompiled aeroq2.bsp, you'll find aerowalk.map in `src/default/maps`. Lunaran's Q4Power texture set is an obvious fit for this:

http://www.lunaran.com/page.php?id=8

[2013-11-12 21:22] jdolan opened #30 "Concrete Dreams"
This is one of the best looking, best playing medium-large FFA maps ever made for Quake2, and Fitz released his map source under the GPL because he's awesome. You'll find dreams.map in `src/default/maps`. This one uses all baseq2 textures, so an existing high-res pak might be a good place to start. In fact, textures from Edge might get us halfway there.

[2013-11-12 21:24] jdolan opened #31 "The Flesh Refinery"
Musashi's _The Flesh Refinery_, better known as `q2rdm1`, was licensed to us by Chris Walker just a week ago. You'll find flesh-refinery.map in `src/default/maps`. This one would look great in high-res baseq2 trim.

[2013-11-12 21:27] jdolan opened #32 "Heavy Metal"
_Heavy Metal_ by retinal is one of the best duel maps for Quake2 ever made. Retinal is no longer active / reachable. I've decompiled `fixed1.bsp`, and you'll find heavy-metal.map in `src/default/maps`. We should make some additional effort to license the .map from Retinal before we undertake the port, but this should be a high-priority map for us (about as important as _The Rage_). Baseq2 textures

[2013-11-12 21:31] jdolan opened #33 "Jester's Gothic Map"
Jester gave us a real gem of brushwork, see jgothic.map in `src/default/maps`. No texturing, lighting or entities have been added at this time. Brilliant original map, tho.

[2013-11-12 21:34] jdolan opened #34 "Under Pressure"
I received permission to re-license and port Friction's classic _Under Pressure_ under CC-NC-by-SA. You'll find pressure.map under `src/default/maps`. This one uses baseq2 textures, so starting with Jim W's retex pak installed in `~/.quake2world/default` will get you going.

[2013-11-14 00:20] #13 closed, assigned to jdolan

[2013-11-14 00:43] #4 closed, assigned to jdolan

[2013-11-14 13:23] jdolan opened #35 "CTF sounds"
We do not have sound effects for the CTF flags being taken, captured or returned. It looks like http://freesound.org might be a good resource to at the very least find some placeholders.

[2013-11-19 12:08] #35 closed, assigned to jdolan

[2013-12-10 16:30] #26 closed, assigned to joe0x04

[2015-02-05 01:16] #6 closed

[2015-12-21 03:10] jdolan commented on #17
Pan did it.

[2015-12-21 03:10] #17 closed

[2015-12-21 03:10] jdolan commented on #18
Pan did it.

[2015-12-21 03:10] #18 closed

[2015-12-21 03:10] jdolan commented on #15
Pan did it.

[2015-12-21 03:10] #15 closed

[2015-12-21 03:11] jdolan commented on #16
Pan did it.

[2015-12-21 03:11] #16 closed

[2015-12-21 03:11] jdolan commented on #14
Pan did it.

[2015-12-21 03:11] #14 closed

[2015-12-21 03:11] jdolan commented on #3
Pan did it.

[2015-12-21 03:11] #3 closed

[2015-12-21 03:11] jdolan commented on #2
Pan..

[2015-12-21 03:11] #2 closed

[2015-12-31 18:15] jdolan commented on #1
The Warehouse textures by TRaK and Pan might actually be a decent fit here?

[2015-12-31 19:28] jdolan opened #36 "Clostrophobopolis"
This should be a fairly straightforward port using Rygel's textures:

http://quake.wikia.com/wiki/DM2:_Claustrophobopolis

[2016-01-09 14:50] jdolan opened #37 "Hand grenade view.cfg"
Is it possible to author a view.cfg for the hand grenade so that we see the nade in the first person view?

[2016-01-09 14:52] jdolan commented on #22
While we have a version of this map already textured with QRP, it'd be really nice (and probably very easy) to use Rygel's textures on this one.

[2016-01-10 18:18] jar3817 commented on #37
yuppers

[2016-05-08 13:10] jdolan commented on #37
*poke*

[2016-05-08 13:11] jdolan commented on #27
Pan has fixed almost all of these. The hyperblaster, and perhaps the CTF flags or other randoms, remain.

[2016-05-08 13:12] jdolan commented on #25
Assigning to @Panjoo. @Cgreenhaw is working on the BFG.

[2016-07-16 13:14] jdolan commented on #37
*poke poke*

[2016-07-16 13:14] jdolan commented on #25
Pan fixed the hyperblaster last week!

[2016-07-16 13:14] #25 closed

[2016-07-16 14:24] jar3817 commented on #37
Okokok

On Jul 16, 2016 9:14 AM, "Jay Dolan" <notifications@github.com> wrote:

[2016-08-25 21:47] jdolan opened #38 "Prioritized sound list"
- [x] `sounds/misc/hit.wav` This is the "you inflicted damage on your enemy" sound. We'd like to add 2 variations of this (3 total) for the amount of damage inflicted; perhaps one higher pitch and one lower pitch? This is a nice one to get started with.
- [x] `sounds/weapons/blaster/fire.wav` Too high pitched, a little weak sounding. Original sound: https://youtu.be/7bGSC68K6OA?t=4m37s
- [x] `soun

[2016-08-25 22:35] jdolan commented on #38
@anthonywebb1 Updated with some initial direction for sound effects.

[2016-08-26 12:45] jdolan commented on #38
@Panjoo Just so you're in the loop on this.

[2016-09-06 19:22] anthonywebb1 commented on #38
[Prioritized sounds.zip](https://github.com/jdolan/quetoo-data/files/457578/Prioritized.sounds.zip)

[2016-09-08 13:00] jdolan commented on #38
Thanks @anthonywebb1! I had missed your comment on this for some reason. Anyway, these sounds are now available in Git and rsync. If you run Update.bat, you should receive them in `quetoo-001.pk3`. Here's my feedback:

 * Shotgun and SSG sound are maybe a bit too loud now? Sorry! They almost sound like they're distorting to me. I think somewhere in between the original sounds and the new ones is w

[2016-09-09 12:53] anthonywebb1 commented on #38
[Amended sounds .zip](https://github.com/jdolan/quetoo-data/files/463974/Amended.sounds.zip)

[2016-09-09 13:03] anthonywebb1 commented on #38
- I've reduced the volume of the shotguns slightly (they were peaking before)

- Added a boom to the rocket launcher

- Scrapped the blaster and gone back and modified the original sound to add a filter sweep 'pew' sound and beefed up the bass slightly. (I see what you mean about the odd thud on the first one!)

- I've made a new sound for jump_1 if you want to replace the original version. It was

[2016-09-09 13:47] jdolan commented on #38
Nice! The jump sounds are great, now, and I like your new, lower-pitched one. Shotty and SSG are spot on. Blaster and RL are both much improved; I dig 'em.

If you run Update.bat in a few minutes, you'll get the updated sounds via rsync. You can then test them out for yourself in-game. Bring down the console (`~`) and type:

    map edge
    give all

Side note, the sounds you attached this last t

[2016-09-10 16:37] anthonywebb1 commented on #38
[Quad.zip](https://github.com/jdolan/quetoo-data/files/465511/Quad.zip)

[2016-09-10 16:39] anthonywebb1 commented on #38
Let me know if the levels are ok. I did manage to test the sounds this time, by following your instructions, so they should all be compatible this time.

[2016-09-10 17:47] jdolan commented on #38
Nice! The format is fine this time, yep. The levels are maybe a touch quiet.

[2016-09-10 17:48] jdolan commented on #38
Oh, and the sounds themselves are definitely better than my horrible attempts ;)

[2016-09-12 15:32] jdolan opened #39 "Claustrophobopolis"
Lava_Croft did a quick-and-dirty port of dm2 to Quake2World years ago. It's still available in the `src/default` directory. It uses the QRP textures, which we would want to swap out in favor of Rygel's Ultra Pak textures.

Screenshot of current WIP map.

![quetoo099](https://cloud.githubusercontent.com/assets/643118/18441845/87a690b8-78dc-11e6-86c6-dda95b9080c4.jpg)

[2016-09-12 15:35] jdolan commented on #36
Duplicate #39

[2016-09-12 15:35] #36 closed

[2016-09-13 16:58] anthonywebb1 commented on #38
[Loops.zip](https://github.com/jdolan/quetoo-data/files/470360/Loops.zip)

[2016-09-13 17:03] anthonywebb1 commented on #38
These are the loops I was having trouble with. Are these the ones you needed to modify?

[2016-09-13 17:05] jdolan commented on #38
@anthonywebb1 That's them! Wanna try committing / pushing to Git?

[2016-09-13 17:23] anthonywebb1 commented on #38
Yes, I'll give it a go. Just waiting for the client to finish cloning the data and then I'll have a go at committing them

[2016-09-15 02:30] jdolan opened #40 "Broken material definition on Frag Pipe"
![quetoo001](https://cloud.githubusercontent.com/assets/643118/18536372/d4fe92da-7aca-11e6-87f0-6a4520eedab4.jpg)

[2016-09-15 02:52] #37 closed

[2016-09-15 02:57] jdolan commented on #38
@anthonywebb1 What would you think of introducing alternate, "stone" sounds for `door*.wav`? The door sounds that we have now are great for sci-fi themes. They are really out of place on gothic / ancient themed maps. They could be committed with a suffix (`door_start_1.wav`, etc..), and a simple key-pair in the entity definition in the `.map` file would allow the level designer to select them (`so

[2016-09-15 13:14] anthonywebb1 commented on #38
Hi Jay,

Loving the new menus, and opening up the quetoo-001 into individual folders will definitely make things easier.

Yeah, I'll play around with the pitch of the blaster and see what I can do.

Definitely a good idea for a second set of stone door sounds for the ancient style maps, I'll get recording some sounds for the new effects.

Also, do you still need to enable the loop sounds for the d

[2016-09-15 14:59] jdolan commented on #38
Nice! Glad you like the menus. They're not done yet, but I'm happy to hear that they're an improvement :)

I've gone ahead and re-enabled `plat_mid`. If you update, you should hear it as well. It sounds like it's looping cleanly to me, but it is very quiet.

FYI, a great place to test the stone sounds for doors would be `darkzone`. There is a secret door in the middle of the floor of the main atri

[2016-09-16 21:22] Panjoo commented on #40
^ This "broken material definition on Frag Pipe" is very strange because even after updating I still don't see it here. I loaded these maps a million times when I was making them and surely I would've noticed the yellow warning.

_material fragpipe/metal14_1
normalmap fragpipe/metal14_1_nm_

The reference in the .mat file looks correct and both textures are present in the pk3, so... no idea.

[2016-09-17 00:11] jdolan commented on #40
Okay, so I dug into this a little more and.. wow, WTF?

![screen shot 2016-09-16 at 8 02 25 pm](https://cloud.githubusercontent.com/assets/643118/18604351/8f6fda1e-7c49-11e6-9c21-7fbdef4d4d5c.png)

![screen shot 2016-09-16 at 8 02 44 pm](https://cloud.githubusercontent.com/assets/643118/18604354/92d27dc4-7c49-11e6-81c0-e2e699e96a60.png)

That's the only one. The rest of the textures are fine. Fort

[2016-09-17 00:11] #40 closed

[2016-09-17 00:13] jdolan commented on #33
I slapped Rygel textures on this one last night. It's really beautiful. Needs a lot more texture love (variation), but the layout is excellent and the brushwork is awesome. It'll make a fine gothic / castle map.

[2016-09-17 00:38] Panjoo commented on #40
I found out that somehow, someone must have converted that TGA to index color mode. What the hell? Should of course be RGB mode.
![tga-indexcolor](https://cloud.githubusercontent.com/assets/10857572/18604671/8f9e746a-7c7f-11e6-866d-cfa1fb96dcf5.jpg)

[2016-09-17 00:40] jdolan commented on #40
Haha! I figured it was something like that. Oh well -- problem solved :)

[2016-09-17 00:45] Panjoo commented on #40
Hehe, okay but normally a texture won't look better in 256 colors instead of 24bit tga. Dunno if this influences the normalmap fx. Prolly not.

[2016-09-17 03:28] WickedShell opened #41 "Lilith: Caulk/Missing texture"
When in the small health pickup by the stairs with the rocket launcher, if you look straight up you see through what is clearly supposed to be a wall/acts as a wall.

[2016-09-19 12:30] jdolan opened #42 "Jump pad tuning for latest pmove"
With air friction reduced to more closely mimic Quake2, the jump pads in our levels need adjustment.

- [x] Stress Fractures - Not too bad, maybe a 5% reduction?
- [x] Gehenna - All out of sorts. Reduce them by 10-15%?
- [x] In the arms of Lilith - Some adjustment needed
- [x] Trial by Error - Unknown
- [x] Penumbral Wake - Unknown

Fixing these is just a matter of unzipping them to \My Games\Quet

[2016-09-20 15:22] jdolan opened #43 "Hyperblaster is weirdly scaled / off-center"
I'm not sure exactly what it's deal is, but there's something strange with this model. It's very difficult to get it to look decent in the first person view at all. Even when you have it roughly where it should be, the perspective seems strange. And when you toggle the `hand` cvar (0, 1, 2) to switch it to left or right handedness, it moves much farther than the rest of the models. I'm *guessing*

[2016-09-20 15:24] jdolan commented on #38
@anthonywebb1 New RL sound is great! Nicely done!

[2016-09-20 17:31] Panjoo commented on #43
Yeah, I had noticed that while I was painting the skin. I'll see if I can adjust the model.
See attached image.
![hyperpower](https://cloud.githubusercontent.com/assets/10857572/18681511/b6788d28-7f68-11e6-971a-864c1b167de9.jpg)

[2016-09-21 20:18] Panjoo commented on #43
I've tried a bunch of things including repositioning and adjusting the model itself. I can get it to look good with "hand 0" but I don't know what's going on with "hand 1 and 2". Doesn't make much sense again...

It would help if I knew how you make the handedness work - does it just rotate the model around its origin or maybe the center of mass? Does it also get moved on the y-axis?

[2016-09-22 15:51] jdolan opened #44 "Update maps for new func_plat & func_door sounds"
@anthonywebb1 provided new sound themes for plats and doors, and the game code has been modified to take advantage of them.

See the entities definitions for funct_plat, func_door, func_door_secret, and func_door_rotating:

https://github.com/jdolan/quetoo-data/blob/master/target/default/scripts/entities.def#L220
https://github.com/jdolan/quetoo-data/blob/master/target/default/scripts/entities.def

[2016-09-22 16:25] WickedShell opened #45 "Fragpipe lava can clip out of the kill tube"
Not even sure if that's what you call the tube, but from the armor side, if you trigger the lava trap the top plane of the lava will clip out of the tube (when viewed from a distance)

[2016-09-22 17:32] jdolan commented on #45
Screenshot please?

[2016-09-22 17:33] WickedShell commented on #45
Crashed on screenshot, will try to get it on my nix box

On Thu, Sep 22, 2016 at 10:32 AM, Jay Dolan <notifications@github.com>
wrote:

[2016-09-24 00:13] jdolan commented on #38
The new stone sounds are awesome! You can hear them on The Dark Zone's secret door.

[2016-09-24 00:14] #38 closed

[2016-09-24 00:59] kaadmy commented on #24
Is this fixed now?

[2016-09-24 01:03] jdolan commented on #24
Yar! Nice one @Panjoo

[2016-09-24 01:03] #24 closed

[2016-09-24 03:08] jdolan commented on #9
@kaadmy implemented this. The particles might need a little love, but overall the effect looks great.

[2016-09-24 03:08] #9 closed

[2016-09-24 05:49] WickedShell commented on #45
![quetoo007](https://cloud.githubusercontent.com/assets/567688/18806391/0451583a-81e0-11e6-8de7-a2d3afd3bcc3.jpg)
![quetoo008](https://cloud.githubusercontent.com/assets/567688/18806392/07fe9240-81e0-11e6-8024-3c7f38508935.jpg)

[2016-09-24 05:51] WickedShell opened #46 "Fractures: Tiling textures look torn with shaders"
The error is only visible on the nearest seam, and only from a pretty oblique view angle.

![quetoo004](https://cloud.githubusercontent.com/assets/567688/18806396/20dd12b4-81e0-11e6-8aef-7e9e73b04864.jpg)
![quetoo005](https://cloud.githubusercontent.com/assets/567688/18806397/20f6f918-81e0-11e6-932f-21feb9d365a6.jpg)

[2016-09-24 11:38] jdolan commented on #45
Wow, thanks. I've never seen this!

[2016-09-24 11:39] jdolan commented on #45
CC @Panjoo Lemme make sure this isn't code related before you attempt to fix it, but just wanted to let you know :)

[2016-09-24 11:40] jdolan commented on #46
Yea, I think this is just a dip in the heightmap around the edges of the texture. Feel free to edit them. The heightmaps are the alpha channel of the normalmap textures.

[2016-09-24 11:41] jdolan commented on #46
Alternatively, we could retexture this map with Rygel or something. These textures are rather low-res anyway..

[2016-09-24 17:22] WickedShell commented on #45
I can only see it when relatively fast away from the tube which makes me
think it might be code related. (And it doesn't hurt me)

On Sep 24, 2016 04:39, "Jay Dolan" <notifications@github.com> wrote:

[2016-09-24 17:31] kaadmy commented on #45
Do translucent objects have a depth offset? That would cause translucent objects(like lava) to clip through geometry from far away.

[2016-09-24 21:50] Panjoo commented on #46
Yep, just checked the normals of those particular textures and they have a seam on the side that shows when they're tiling.

![nm-badtiling](https://cloud.githubusercontent.com/assets/10857572/18811495/7fbf1eea-82b1-11e6-9546-810fda29fe1b.jpg)

Honestly I think these map textures are fine. Rather low-res but one of the reasons why we're using bumpmaps is to add more details. Actually the normals a

[2016-09-24 22:21] Panjoo commented on #45
Lol Jay, thanks! But I'm pretty sure this was one of the reasons for me to keep the bridge as a func_door that sinks into the lava and not use the rising func_water entity after you had fixed it :P

[2016-09-25 01:49] jdolan commented on #45
So this is just a materials bug. `r_materials 0` and the problem goes away. It probably has to do with the glPolygonOffset logic in `r_material.c`. Will investigate.

[2016-09-25 02:15] jdolan commented on #45
Fixed.

[2016-09-25 02:15] #45 closed

[2016-09-25 02:42] #44 closed

[2016-09-25 20:18] #42 closed

[2016-09-25 21:42] WickedShell opened #47 "Fragpipe: Ledge by YA and Quad should be removed"
It would be really nice to support using the hyperblaster to wallclimb to the quad from the YA area. At the moment the ledge is blocking that, and approaching from the walls doesn't work (I'm not sure if it's just a problem with a invisible clip or map space)

[2016-09-25 23:00] Panjoo commented on #47
Oh no! :) I can understand how it would be nice to be able to just skate up there and take the quad like it's nothing. But that ledge is original and I deliberately put clip brushes on the walls to prevent players from doing just that! This is a good example of how these remakes of the classic Q2DM maps should stay faithful to their original gameplay and jumps. They should just look better but pla

[2016-09-25 23:26] Panjoo commented on #43
Hopefully this commit [5f87b1d](https://github.com/jdolan/quetoo-data/commit/5f87b1d04cd465ff003fecffdea65202ff05ebcc) makes it less noticable. At least it looks like it moves slightly less far to the sides now that I adjusted the model's barrel and position on the grid. Best I can do for now.

[2016-09-26 01:17] jdolan commented on #43
The handedness does not rotate the model at all, it only translates it +/- 6 units. Thanks for posting that screenshot, it perfectly illustrates what's wrong. Eventually we should just chop the model -- like a sawed off hyperblaster ;)

[2016-09-26 03:29] jdolan opened #48 "Missing pickup icons"
Pickup icons for the various healths are all missing. If you look in the pics folder, you'll see ancient KMQuake2 HUD icons for these items. We should replace them.

Our existing health icon is also a bit out of place compared to the others. If that one can be made more consistent with the rest of our icons, that'd be great!

[2016-09-27 22:47] Panjoo commented on #48
Is this something? I went ahead and merged these. As basic as it can get but that's the style of the HUD;)

![healthicons](https://cloud.githubusercontent.com/assets/10857572/18894673/8e92e2d4-8514-11e6-96c8-5be1aaf76486.jpg)

[2016-09-27 22:49] WickedShell commented on #48
As long as the text below each isn't shown in game I'm good with it :)

On Tue, Sep 27, 2016 at 3:47 PM, Panjoo <notifications@github.com> wrote:

[2016-09-28 02:32] jdolan commented on #48
These are great, Pan. I wired them up this evening. Nice job!

[2016-09-28 02:32] #48 closed

[2016-09-28 03:04] jdolan commented on #43
I tweaked this a little more this evening. It's good enough for now. Thanks Pan.

[2016-09-28 03:04] #43 closed

[2016-09-30 20:30] WickedShell opened #49 "Fragpipe: lava balls spawn above the lava pit"
The most minor of problems, most people will be dead to fast to notice :)

![quetoo009](https://cloud.githubusercontent.com/assets/567688/19005923/f860c29a-8711-11e6-8126-a1347388640a.png)

[2016-10-03 13:40] jdolan opened #50 "Rebase quetoo-data to current snapshot"
@Panjoo @anthonywebb1 @WickedShell @kaadmy

There have been grumblings amongst the IRC team that the data repo is unwieldy. This is mostly because of the Git history — every version of every file that’s ever been in the game, past or present, is actually hidden away in the “.git” folder. Every time we modify a file, it basically adds the size of that entire file to the size of the repository.

A s

[2016-10-03 13:50] jdolan commented on #50
Btw, as for impact, if we do decide to rebase, I'll ask that you guys have your working copies in an un-modified state (no pending changes). I'll then perform the rebase, and you guys will do a normal "pull." Shouldn't create any drama that way.

[2016-10-03 17:12] kaadmy commented on #50
I'm perfectly fine with this as I can't do anything with it in it's current state :)

[2016-10-03 22:04] jdolan commented on #50
I'm not hearing any protest, so.. :>

[2016-10-03 22:20] anthonywebb1 commented on #50
Sounds fine to me. I have backups of all the sounds I've made.

[2016-10-03 23:18] jdolan commented on #50
**tl;dr
Make absolutely certain you stash any pending changes before pulling quetoo-data!**

Sadly, I've not been able to clone this repository on Github. It seems we've been grandfathered in: there are a dozen or so old revisions of `map-wake.pak` in the revision history that are in excess of 100MB, which is Github's maximum file size for personal repos. Back when these files were created, I don'

[2016-10-04 14:20] jdolan commented on #50
Hi all,

This was done last night. We shaved 1.2GB off of the data repository, which ain't bad. To update your local copies, do a `git pull`. **Git will probably then claim that your working copies are 521 commits ahead of origin/master. Please don't push in this state.** To align your working copies with this repository, perform `git reset --hard origin/master`. If you have the command line `git`

[2016-10-04 17:33] #50 closed

[2016-10-04 17:34] jdolan commented on #49
I did that on purpose, to prevent them from triggering the water_exit sounds. But maybe they should trigger those sounds.. or maybe they should at least be placed closer to the surface of the lava.

[2016-10-04 17:38] jdolan commented on #47
I think that the ledge is a good move, to make a trivial hyper-climb impossible. You could even extend the ledge, so that it protrudes along that entire wall. But the clip brushes on the adjacent walls are just weird. If people want to hyper-climb the adjacent walls and air-accel over, I personally think that's fine. It's okay to open up a few new possibilities on these old classics. I don't think

[2016-10-04 20:03] WickedShell commented on #49
Closer would work, it was just visually inconsistent as I was burning up in
the bottom :)

On Tue, Oct 4, 2016 at 10:34 AM, Jay Dolan <notifications@github.com> wrote:

[2016-10-15 21:25] kaadmy commented on #47
Any progress/ideas for this one?

[2016-10-16 16:35] kaadmy opened #52 "Unneeded data"
I've been going through the quetoo-data repository, and I've noticed a few data duplicates/old versions, such as the old RL model still being saved in the repo and having a duplicate railgun diffuse image.

Should this old/duplicate data be removed or is there still a use for it?

Files so far that I've found that seem unused:
- [ ] src/default/models/weapons (Some cleanup here, not sure exactly w

[2016-10-16 16:38] jdolan commented on #52
Yea, I'm sure there's some cruft. Please enumerate the assets you find here so that we can confirm they're no longer needed before we axe them.

[2016-10-17 01:44] kaadmy commented on #41
https://usercontent.irccloud-cdn.com/file/v8P7wEYr/lilith.map

Fixed .map file, needs a compile still.

[2016-10-17 19:10] kaadmy commented on #41
Fixed in commit b4cb3aeeeb17100ee4a8d094488f156c03313577

[2016-10-17 19:11] #41 closed

[2016-10-17 23:51] Panjoo commented on #52
The PNG version of the glow is the correct one, the TGA can be deleted.

I'll get on this Unneeded data stuff as soon as I get the chance to re-clone the data repository and sift through it. In fact most of the .psd's in 'scr' are not relevant anymore as I've heavily modifyed them.

[2016-10-17 23:54] Panjoo commented on #47
I'll remove the clipbrushes that are on the walls and probably extend the ledge.

(I'm finally almost done with all those normals and other textures for Fractures and I'm also redoing that hyperblaster barrel, again... ugh I hate that stupid thing!)

[2016-10-17 23:57] jdolan commented on #47
Awesome! And yea, maybe someday we'll just replace the hyperplasma, heh.

[2016-10-18 02:27] WickedShell opened #53 "Trial: Ceiling clip has holes"
You can escape onto the top of light fixtures in trial. There is an invisible floor you can walk around. See the attached demo (or no_clip into the area).

[trial.zip](https://github.com/jdolan/quetoo-data/files/535138/trial.zip)

[2016-10-18 02:47] jdolan commented on #53
LOL -- nice maneuver.

I think this actually shows off just how badly Trial needs another vertical level. There's so much detail up there that you never really notice when running around in the map.

[2016-10-20 12:34] jdolan commented on #52
👍

[2016-10-26 00:52] jdolan commented on #47
@Panjoo fixed this one. I tested it, and was occasionally able to plasma-climb into the quad room via the ledge, but it's not a sure bet. On average, it took 2-4 tries. But I think this is the right compromise. @WickedShell please close this one out if you agree.

[2016-10-26 00:59] WickedShell commented on #47
I can reliably make the climb and jump, you have to go a bit high otherwise you miss it but once you do it works fairly easily. Works for me! Thanks @Panjoo

[2016-10-26 00:59] #47 closed

[2016-10-28 11:00] jdolan commented on #46
![quetoo002](https://cloud.githubusercontent.com/assets/643118/19804376/eaffdbc4-9cdb-11e6-9290-cc6e13b3dc48.png)

@Panjoo The normalmaps look great. Really nice job cleaning up the entire map. The new detail brushes look fantastic too (screenshot).

I was a little surprised to see you got rid of the fog, and all of the ice floor. That was the only SURF_SLICK in the entire game. Were you just unha

[2016-10-28 20:15] Panjoo commented on #46
@jdolan
Hey, lol there was no fog to begin with, I just checked every old version of the pk3 that I still have and none of them feature fog, just snow.
As for the snow/ice; it just didn't make any sense. While I was editing the map I had a closer look at the texture usage and it suddenly felt so strange and out of place to have a sheltered basement area that is filled with snow and ice which compl

[2016-10-28 20:33] jdolan commented on #46
Oh, haha. I guess a very, very old version had fog, and that's what I was thinking of ;)

I thought the snow and ice in the inside areas made it feel like an ice box, that's been cold for 100 years, you know? Maybe the bottom-bottom floor (BFG area) could become ice again someday.

New HB barrel is much better! It looks a little small compared to the rest of the model, now. The handle and chamber

[2016-10-30 18:29] WickedShell opened #54 "Fragpipe: Ladder brush on pipe"
The fragpipe on fragpipe allows you climb it as a ladder. (Screenshot is while on the ladder)

![quetoo029](https://cloud.githubusercontent.com/assets/567688/19838795/e5638cb0-9e93-11e6-955e-5979f4fbd439.png)

[2016-10-30 18:32] WickedShell opened #55 "Slimyplace: Missing textures"
There is a missing texture on slimyplace. (The side of the stair is missing a texture).

This is possibly/probably related to a failure to load slimyplace/lead1_1 slimyplace//metal15_2 slimyplace/metal15_3sml slimyplace/metal5_2

![quetoo030](https://cloud.githubusercontent.com/assets/567688/19838813/37c68002-9e94-11e6-9b25-84c1595a2f8b.png)
![quetoo031](https://cloud.githubusercontent.com/assets/

[2016-10-30 22:07] Paril opened #56 "Fractures: snow patches are solid"
https://gfycat.com/UntriedFlashyFlicker

Maybe they should be detail or mist or something so that stuff doesn't slide off of it?

[2016-10-31 16:52] Panjoo commented on #56
The decals are set as detail and mist. Normally a brush set as mist must have all sides set as mist. But, I can't seem to make it so in quetoo that the decal textures only show from one side (top). Apparently there is no 'backface culling' whatsoever, all faces are drawn. And I've tried every combination of flags you can think of.
So -with the whole brush as mist- you'll see the backfaces of decal

[2016-10-31 18:00] Panjoo commented on #55
Good find there WickedShell, sometimes I'm using the caulk texture too vigorously while I'm tidying things up even though it's not necessary to do so. ;)

I've already been fixing those old material references and retextured that brush. I'll upload/sync this map and a bunch of other tweaked map pk3's that I've been working on.

[2016-10-31 18:04] jdolan commented on #54
Hah! I also noticed this small texture niggle.

![quetoo006](https://cloud.githubusercontent.com/assets/643118/19865496/e0ebda22-9f72-11e6-823d-64854167df22.png)

[2016-10-31 18:07] jdolan commented on #46
@Panjoo do you plan to adjust the contents or surface flags of the ice patches? I think @Paril posted a gif of grenades interacting with them -- perhaps they are not all `CONTENTS_MIST`?

The best option might be to make them `CONTENTS_SOLID`, but then ramp their vertical surfaces so that grenades slide / jump up over them. And that way, they could also be `SURF_SLICK`. Just a thought.

Otherwise,

[2016-10-31 18:17] jdolan commented on #56
`CONTENTS_MIST` is a contents flag, and can't be applied (correctly) to just one face. It either applies to the whole brush, or not. If you managed to mix the brush contents somehow in Radiant, you might even see a warning about this in quemap (hopefully).

`SURF_NO_DRAW` is just that -- no *draw*. It doesn't mean that there isn't still a clipping plane there.

`CONTENTS_MIST` on the whole brush,

[2016-10-31 19:31] Panjoo commented on #54
@WickedShell - that is a well known 'bug' that people still use as a trickjump shortcut (see demo)
[dm3jumpdemo.zip](https://github.com/jdolan/quetoo-data/files/562680/dm3jumpdemo.zip)

I'd figured most of you would be just as familiar as I am with the stock quake2 maps but I guess not. Ask claire/Joe about this pipe climb thing:) I still play these maps regularly online and it will be a letdown f

[2016-10-31 19:33] jdolan commented on #54
SWEET! I passed the test!

[2016-10-31 19:33] #54 closed

[2016-10-31 22:16] Paril commented on #56
It's probably because the sides aren't mist, yeah.

[2016-10-31 23:03] Panjoo commented on #56
I understand that you should use mist on all sides, but the confusing part is that at one point I had used blend+mist on the top side and just nodraw on the rest and the snowy faces became one sided faces. Only problem -as it turned out- was that the sides are then clipping planes.

top face of brush: _blend+mist_ & other sides of brush: _nodraw_  => texture becomes one-sided
top face of brush: _b

[2016-10-31 23:25] Panjoo commented on #46
Thought about this too, but ramping any rotated and non-rectangle brush is a recipe for bad brushed.
It's so hard to properly align a partly transparent decal texture without having parts of it cropped at the sides. All the snowpatches are made out of one texture you know.
What I'm thinking is to set them all as mist but maybe cut up some underlaying floor brushes (roughly the same shape as the sn

[2016-11-01 03:47] jdolan commented on #46
👍

[2016-11-03 17:39] Panjoo commented on #46
Updated Fractures - I call this map done*. Commit [83f98ea](https://github.com/jdolan/quetoo-data/commit/83f98ea3418447bb1e5e307fd705ecf8e937938a)

*For now :zipper_mouth_face:

[2016-11-03 17:39] #46 closed

[2016-11-03 17:44] Panjoo commented on #56
Updated Fractures - I call this map done*. Commit [83f98ea](https://github.com/jdolan/quetoo-data/commit/83f98ea3418447bb1e5e307fd705ecf8e937938a)

*For now :zipper_mouth_face:

[2016-11-03 17:44] #56 closed

[2016-11-03 17:52] Panjoo commented on #55
Commit [12e992d](https://github.com/jdolan/quetoo-data/commit/12e992d9cce32cf5e6b34a92faddb500fe5d5781) <- updated Slimyplace -fixed visible caulk texture on staircase.

:mag:

[2016-11-03 17:52] #55 closed

[2016-11-05 20:58] Paril commented on #49
...or just have them exempt from those sounds? :p

[2016-11-06 12:27] jdolan commented on #49
Yea, that would work. Good idea. Eat shit :P

[2016-11-11 19:35] Paril opened #57 "OBJ models aren't welded properly (?)"
This issue is specific to the OBJ models. They do not appear to be welded, at least on the main edges.

The new shell code in gl-types uses vertex + (normal * offset) to produce clean shell effects (see old: http://i.imgur.com/hE5Yhri.jpg new: http://i.imgur.com/xYmpFEY.jpg). This effect looks great on MD3, but for some reason the OBJ models appear to have discontinuous connections (see http://i.i

[2016-11-11 19:51] jdolan commented on #57
The only models that are eligible for this effect (in practice) are the weapons (including the hand grenade). So while ideally, all of them would get fixed up, we can prioritize to this list:

- [ ] models/weapons/bfg/tris.obj
- [ ] models/weapons/blaster/tris.obj
- [ ] models/weapons/grenadelauncher/tris.obj
- [ ] models/weapons/hyperblaster/tris.obj
- [ ] models/weapons/lightning/tris.obj
- [ ]

[2016-11-12 00:35] Panjoo commented on #57
What should happen with those models? If I just weld all vertices the models are going to look horrible, because welding results in a phong-shading effect. This is great for player models and stuff but sometimes you want parts of a weapon to remain sharp edged, to get some definition going. Weld everything and the whole model will look like an organic shaped lump.
Just convert to md3 then?

[2016-11-12 02:17] Paril commented on #57
How bad do they look if they are welded? The alternative is that certain models use a special welded version for shell effects, but that seems a bit overkill for what we're trying to accomplish.. besides, we use per-pixel lighting for the models, the phong shading effect thing only really matters if we're talking about a vertex-shaded model.

[2016-11-12 02:18] jdolan commented on #57
@Paril Maybe call out one that looks particularly funky now, so that Pan can try either welding or converting to md3, and we can figure out where to go from there?

[2016-11-12 02:19] Paril commented on #57
Only the weapon models are affected, in theory, since those have shell effects applied to them. Blaster is probably most noticable because it has tiny bits at the top.

[2016-11-12 04:17] Paril opened #58 "Edge staircase clip is too tall"
http://i.imgur.com/aoD8cO6.jpg

This second-to-bottom stair has a huge extended clip area for some reason, making it hard to step up onto it from the side. Pushing forward from screenshot does not put me up the stair as it should.

[2016-11-12 13:00] Panjoo commented on #57
![phongweld](https://cloud.githubusercontent.com/assets/10857572/20237852/2d5f4924-a8de-11e6-9dd0-1b7718b68de1.gif)

I just tried it on the RL and I don't like the result. I already knew how this was going to look because that's why I only unwelded the edges that I wanted to keep. I haven't looked at the Blaster yet, but I didn't make that model so I don't know if things are welded or not.
I was c

[2016-11-12 13:12] jdolan commented on #57
Heh, I kind of like the rounded edges and phong shading ^^

I think @Paril was annoyed with how the previous shell effect was drawn, because the shell would sometimes clip through the model in odd ways. I don't disagree, but it's also not a high priority in my opinion.

Here are what the current models look like with the new shell effect. I guess we have to decide if the shell is a significant eno

[2016-11-12 13:16] jdolan commented on #57
@Paril What do you think? Is it worth trying to tinker with the models to salvage the new effect? I do like the effect, but I also want to make the most of Pan's available time. Maybe @kaadmy could tweak the models, so that Pan can remain focused on the maps?

[2016-11-12 13:25] Paril commented on #57
I can fix this entirely in code without affecting the look of the models or Pan's time, no problem. I will have the game consider obj models a little special and generate a second set of geometry purely for shell -  best of both worlds

[2016-11-12 13:55] jdolan commented on #57
@Panjoo we'll pursue a code fix for this. We have a couple paths to try. Closing this out! :)

[2016-11-12 13:55] #57 closed

[2016-11-12 14:00] jdolan commented on #58
<img width="1680" alt="screen shot 2016-11-12 at 8 59 18 am" src="https://cloud.githubusercontent.com/assets/643118/20238329/5764b8ee-a8b6-11e6-9dd3-a0e437193dbe.png">

There is a weird clip there. My guess is, this enables a trick jump to the crates.

[2016-11-12 14:24] Panjoo commented on #57
There are some weapons that could use a little more tweaking as to vertex welding. The barrel of the SSG for example.

![ssg](https://cloud.githubusercontent.com/assets/10857572/20238384/7ab10788-a8ea-11e6-9017-810f71826c66.jpg)

But on the other hand weapons that have more straight lines like the RL, Hyper and BFG should not have all edges welded IMO.
You may like the "phong" effect but isn't it

[2016-11-12 15:30] Paril commented on #57
I was wrong, I misinterpreted what you were saying. The edges will indeed interpolate the light across edges like you were talking about, resulting in light "bleed" in vertices that are connected because of the normal (for instance, in the case of a right angle, the corner angle will be pointing outwards/inwards at a 45 degree angle instead of either straight up or straight left).

So, the way I s

[2016-11-12 21:25] Panjoo commented on #58
Yeah, that was to enable a well-known jump up the crates from the left side, instead of using the first little crate most q2 players start their doublejump off that first step. I will take it out I guess since too much has changed in terms of movement.
In my opinion most of the hardest jumps in the original q2 version are much too easy in quetoo, while other easy jumps are now a lot trickier to do

[2016-11-12 21:38] Paril commented on #58
I think the new trickjump code makes that extra clip redundant. I like that the skill ceiling is lower for jumping - it seems less "elitist" now. I can chalk kills down to my firing and not trickjumping now 🔫

I thought I fixed that demo crash :( can you post a demo that causes it?

[2016-11-12 21:53] Panjoo commented on #58
I just did:)

This is both good and bad I think. Good because like you said it lowers the skill ceiling, but bad because experienced jumpers will do the otherwise hard jumps with their eyes closed and will have even more advantage than you might think. I'm okay with it as long as the original q2 jumps stay intact, albeit easier.

[2016-11-12 22:27] Paril commented on #58
Oh I didn't even check what the zip was, my mistake

[2016-11-12 22:29] jdolan commented on #58
I wouldn't be opposed to a subtle voiced jump noise, but I do find Q2's jump sounds kind of annoying after about 60 seconds, hehe. I haven't checked in with @anthonywebb1 for a month or two. Let's see if he writes back ;)

[2016-11-13 01:14] jar3817 commented on #58
The male jump sound has always annoyed me, that's why I always pick female
player. It's funny when my 3yr old son starts going "huh huh huh" when I'm
watching or playing...

On Nov 12, 2016 5:29 PM, "Jay Dolan" <notifications@github.com> wrote:

[2016-11-13 12:59] anthonywebb1 commented on #58
@jdolan Sorry about the silence, been a bit busy on another game. Yes I can look into this. Same sort of cloth and equipment jumping sound, but with a less aggressive/quieter HUH sound?

I'll make 5 and you can always leave a couple out if you don't want the HUH sound for every single jump.

[2016-11-13 13:55] jdolan commented on #58
Yes, that would be perfect! I think it'd be best if the voice was sort of generic -- male, but not explicitly "human." We do have another player model, Gork, who is a green troll-demon-ork thing. If you listen to the player's pain sounds (players/common/pain*), I think what I'm saying will make sense ;)

Got a link to the other game?

[2016-11-13 14:50] Panjoo commented on #58
@Paril,
One or two times the game closed itself after the demo ended, but it also happened when I pressed a bind to start recording. What I did was "bind s stop" and "bind d record demoname", so that could easily stop and start recording. Seemed very random but it sometimes happens that once I press the record bind to re-record the same demo it just exits the game.
Also, it sometimes happens that

[2016-11-13 15:59] anthonywebb1 commented on #58
@jdolan No problem, I'll have a look at them over next week. Haha, yeah it makes sense :)

Here's some info on the the other game 'Field of Arms' if you're interested
http://www.indiedb.com/games/field-of-arms18th-century-warfare

[2016-11-13 21:30] Panjoo commented on #58
@Paril - Okay this issue ^ (#58 the staircase clip) is fixed so this can be closed whenever you like. I'll push the updated edge.pk3 later on.

[2016-11-13 22:14] Paril opened #59 "Blaster "wings" don't agree with new shell code"
So this issue is very specific. I added some new code that welds together obj models if "r_shell" is 2 (consider it high quality shell mode). It looks great, but the blaster has a very specific issue with it.

off: http://i.imgur.com/i5srYNK.jpg
on: http://i.imgur.com/8BlqpmB.jpg

(the shell size is increased just to show the issue a little better. the actual shell size for view weapon is much thi

[2016-11-13 23:10] #58 closed

[2016-11-14 10:06] Panjoo commented on #59
I'm the last one to diss other people's work but most of these weapon models were (some still are) kind of messy and have an unfinished feel to them, making it very hard to properly UV-map them without rescaling and fixing stuff. In a lot of places the parts seem to have been freely stuck together causing unneeded and unseen polys. Add in the fact that the models were clearly made by mirorring one

[2016-11-14 10:29] Paril commented on #59
Panjoo spitting the hot fire - get shit on, blaster model creator! Interesting to note too that the model also looks like garbage in the old shell code - the same problem exists where the faces protrude in an odd manner.

Yeah, you can see the issue highlighted in the second screenshot at the bottom-left - they are shell-less because the normal is facing inwards rather than outwards. In the first

[2016-11-17 00:50] Panjoo commented on #59
Alright, the Blaster model got cleaned up and it sure was a blast.
I just pushed this commit to master [e1c380d](https://github.com/jdolan/quetoo-data/commit/e1c380d2510f12dee5d502c134049e5c676511d6)

Made a glow skin too. The model is now welded and 75 faces lighter and I also removed some of those center vertices from the top part. I could've easily removed twice as many but the parts on the bac

[2016-11-17 09:05] Paril commented on #59
http://i.imgur.com/rxfCbG6.jpg

Looks good now. It doesn't look as good without shell though: http://i.imgur.com/H68qCSB.jpg

[2016-11-17 11:43] Panjoo commented on #59
Standing next to a light makes it look worse.  But this is what I've been trying to say, welding all vertices causes that phong-ish smoothing effect so you're losing some hard edges and definition. At least that's what I think you mean...
This is turning out too much work for a quad glow effect on a weapon that most players won't be using when they have that powerup. But I can always weld/unweld s

[2016-11-17 12:43] Paril commented on #59
You don't have to weld. I already added a new code path that welds the vertices for the shell effect while leaving the actual rendered model unwelded. Sorry if I wasn't clear about that.

I only wanted the wings fixed :)

[2016-11-17 21:41] Panjoo commented on #59
Hehe yes I know, but I couldn't just fix the wings without welding and reconnecting old and new vertices
(cleaning up the unnecessary vertices created holes in the model.)
What I'll do is unweld some of the outer edges to get back some of the sharper corners.

[2016-11-17 23:51] Panjoo commented on #59
Okay, done and uploaded. The bloody thing looks better now;) Let me know what you think.

BTW, do you happen to know why the Quad model is not showing its normalmap? I could be wrong but it look like it's been disabled.

[2016-11-17 23:57] #27 closed

[2016-11-18 19:30] #59 closed

[2016-12-07 16:39] kaadmy commented on #28
The lighting is beautiful :)

[2016-12-07 16:43] kaadmy commented on #31
This looks fairly easy to just retexture, geometry looks fairly detailed.

[2016-12-07 17:02] jdolan commented on #31
There are certainly good Q2 retexture packs out there that would cover this one. The hard part would be baking normalmaps for the ones we are not already using in @Panjoo's Q2DM remakes. That said, the textures and normalmaps for this map would probably overlap #19 (The Rage), #32 (Heavy Metal), etc.. So it's well worth it.

[2016-12-07 17:03] jdolan commented on #28
This is probably the most popular 3rd party duel map for Quake2. It's up there with Aerowalk and Rage. I'd love to have this one done.

[2016-12-07 23:23] Panjoo commented on #29
https://github.com/jdolan/quetoo-data/commit/c4614c897e043993ad3d5c0e9f2c0b7f95856308

[2016-12-07 23:23] #29 closed

[2016-12-08 03:30] kaadmy commented on #31
Hmm, @Panjoo's Aerowalk remake's textures might fit here if they're tinted orange instead.

[2016-12-08 13:08] jdolan commented on #31
Frag Pipe, Hallways, Simply Place, Pits.. I see a few textures that we already have. The teleporters that Panjoo made for Aerowalk could also be used here.

If I were taking this on, I'd start by taking the original map and retexturing with JimW's high res textures:
http://www-personal.umich.edu/~jimw/q2/Quake2/baseq2/

Which should actually just be a massive `sed` effort to scale them all correct

[2016-12-08 16:52] kaadmy commented on #31
Any ideas as to the license of the texture pack linked above?

[2016-12-08 17:09] jdolan commented on #31
Not a clue. They've been repurposed a dozen times over the years -- I'm not even sure if Jim is the copyright holder himself, or if he aggregated these textures from other artists. For practical purposes, I think they're public domain at this point.

[2016-12-08 22:02] Paril opened #60 "Airtime"
[airtime.zip](https://github.com/jdolan/quetoo-data/files/640691/airtime.zip)

This is an old map, but was one of the first maps to be intended to be played with grappling hooks. I'm in the process of implementing the swing-hook as an option, and it just reminded me of this map which was included with the hook mods back in the day.

From the text file:
"Airtime map
--------------------------------

[2016-12-08 23:59] Paril opened #61 "Hook sounds"
Need some sounds for our brand new grapplin' hooks.

I've always been really partial to the CTF Grapple sounds from Quake 2 (https://youtu.be/mGvQcCfawJg?t=233) but anything you can think of would be great.

We need:
hook_fire - a distinct sound of a firing hook. Hookmod for Quake 2 used the Medic revive-latch sound for this, but as always, defer to sound expert.
hook_latch - the hook grabbing ont

[2016-12-09 01:09] jdolan commented on #61
I'd be happy with sounds that were somewhere between Q2's and something more realistic. Firing a grappling hook could sound like a muffled / suppressed gunshot, and a rope flying sound would be pretty cool while the grapple is on its way out (hook_fly).

@anthonywebb1 The grapple hook is available in the game now, so you can get a feel for it. Load up any map, and set `g_hook 1` at the console. It

[2016-12-09 03:14] Paril commented on #61
Will do.

[2016-12-09 03:29] Paril commented on #61
Updated your comment to include detach wav.

[2016-12-09 21:05] kaadmy commented on #28
I'll just try to port this one but I won't be very strict about gameplay and just keep layout intact.

[2016-12-09 21:18] jdolan commented on #28
That sounds great. This might be a good candidate for Rygel textures?

[2016-12-09 21:49] jdolan opened #62 "Updated jump sounds that include player grunt"
@anthonywebb1 provided 5 updated jump sounds that incorporate a male grunt. Zip attached.

[jumps.zip](https://github.com/jdolan/quetoo-data/files/643261/jumps.zip)

If we decide to merge these in, we'll want to save a couple of the old ones and use them for ladder movement sounds. Currently, as players climb ladders, we emit the jump event / sound.

[2016-12-09 23:40] Paril commented on #60
[airtime.zip](https://github.com/jdolan/quetoo-data/files/643428/airtime.zip)

The BSP, if you want to play it in-game (needs pak0 as dependency)

[2016-12-10 00:25] kaadmy commented on #28
I'll try to use the philipk02 texture set, might not fit well.

[2016-12-10 01:17] jdolan opened #63 "Normalmaps for armor and ammo boxes"
Man, seeing how great our weapon models look on Aerowalk, with lights shining up underneath them, really highlights how badly the ammo boxes and armor models need normalmaps :)

[2016-12-10 17:55] kaadmy commented on #63
Might as well copy over the missing normalmaps for the small/mega healths too from the medium health.

[2016-12-10 18:13] jdolan opened #64 "Pretty message strings for all maps"
Some of our maps don't use colorized message strings. This is nitpicky, I know, but it'd be great if they did. Updating them would require editing the .map file (even in a text editor) and then just running `quemap -bsp -onlyents maps/foo.map`. It'd take a few minutes per map, with unpacking and repacking.

[2016-12-10 20:41] Panjoo commented on #63
Yes, will do that.

[2016-12-16 14:17] Paril opened #65 "Footstep sounds"
Now that our material system can be read by the server & client, we should start stocking up on some footstep sounds for different materials - snow, ice, grate, metal, concrete, wood, etc.

[2016-12-21 20:20] kaadmy opened #66 "Ripple textures"
Right now I've made three liquid ripple textures (SVG files are in `src/default/particles`, TGAs are in `target/default/particles`), but they're not very good looking.

Maybe someone could make replacements for them?

[2016-12-26 23:08] Panjoo commented on #62
Definitely use these jump sounds, they fit right in. It's so much better to have this extra sound cue as to the whereabouts of jumping opponents. With the old sounds you hear almost nothing. Nice work @anthony

[2016-12-28 18:39] jdolan opened #67 "Rocket skin / model is messed up"
For some reason, the rocket model is drawn with a huge black blotch on it. I always thought it was lighting related, but it's not. There's something wrong with the model. It's an MD3 that we should convert to OBJ, anyway.

[2016-12-30 01:56] Panjoo commented on #67
I couldn't find any visible vertex errors in the model but its texture seemed to have an alpha-channel mask so I removed that. I never really noticed any black blotch on the model so hopefully this fixes it.

I went ahead and converted to OBJ and also increased the model size according to its world.cfg.
After converting, the model didn't spin around the right axis anymore so I had to rotate it 90

[2016-12-30 05:06] jdolan commented on #67
Yep, fixed!

[2016-12-30 05:06] #67 closed

[2016-12-30 05:06] jdolan commented on #66
These are better, but the effect needs work. @Paril ?

[2016-12-30 18:00] #63 closed

[2017-01-09 05:26] #66 closed

[2017-01-09 05:27] Paril opened #68 "Warehouse bottom floor is slippery for non-players"
https://gfycat.com/LikelyFluffyHatchetfish

[2017-01-09 05:52] Paril opened #69 "Dark zone teleporter can be entered from the side"
https://gfycat.com/ChiefAdolescentDipper

[2017-01-09 12:49] jdolan commented on #68
If this is code related, I wonder if that floor sits at `0.0` Z...

[2017-01-09 13:30] Paril commented on #68
This might be code-related. Your "TODO: use ent->locals.clip_mask?" seems to be correct, if I use that instead of MASK_SOLID they don't slide any more.

[2017-01-09 13:35] jdolan commented on #68
:shipit:

[2017-01-11 18:24] #68 closed

[2017-01-12 11:48] Paril commented on #69
Now you can enter it from the other side.
https://gfycat.com/UnfitFelineEquestrian

[2017-01-12 12:36] #69 closed

[2017-01-12 12:36] Paril commented on #69
Nevermind, was out of dert

[2017-01-12 20:18] Paril opened #70 "Gym materials"
http://i.imgur.com/786On30.png

[2017-01-21 01:32] Paril opened #71 "Trial map has huge lightmap scale"
Missed this map somehow

[2017-01-26 15:38] Paril opened #72 "We need Q2Guard to accompany the QForcer!"
http://www.tabun.nl/3d_work_view.php?view=m_q2guard

[2017-01-26 19:18] jdolan commented on #72
Email sent to Tabun, awaiting his blessing.

[2017-01-26 20:11] jdolan commented on #71
Fixed

[2017-01-26 20:11] #71 closed

[2017-01-27 23:10] jdolan opened #73 "CTF on Q2DM maps, Stress Fractures, etc.."
Some of my most fond Q2 memories are playing VanillaCTF (the mod that added poor man's CTF to SP and DM levels). We should totally add CTF capability to most if not all of our maps. It's just a matter of dropping flags and rebaking them with `-bsp -onlyents`.

[2017-01-28 12:29] jdolan commented on #72
We're good to go!

[2017-01-28 20:25] kaadmy commented on #73
What about team spawns?

[2017-01-30 20:55] Paril commented on #73
We can add them too.

[2017-01-30 20:55] #72 closed

[2017-01-30 22:07] Paril opened #74 "Pants/shirt colors"
So, I've been thinking about how we have qforcer and guard in different colors, and it got me thinking: why don't we implement full 24-bit color pants and shirt modulation like DarkPlaces has? This way, we only need the one skin file + _pants/_shirt files and we can pass the colors in userinfo in hexadecimal or something, and the material will modulate the stage with that color.

With this, we cou

[2017-01-31 00:47] jdolan commented on #74
I'm totally onboard with this. I knew it was the right thing to do back in 2012, but I didn't have time, so I punted and made a bunch of modulated skins instead.

[2017-02-02 23:32] kaadmy commented on #52
*bump*

[2017-02-05 05:31] Arseflute opened #75 "New gibs"
@Panjoo These are some gib models I made to run past you.

[gib_1.zip](https://github.com/jdolan/quetoo-data/files/752771/gib_1.zip)
![quetoo018](https://cloud.githubusercontent.com/assets/25470615/22623962/501bedf2-eb3a-11e6-968b-036a9706d60c.png)
![quetoo016](https://cloud.githubusercontent.com/assets/25470615/22623966/5a373990-eb3a-11e6-82ac-9c4dff9f2feb.pn
![quetoo013](https://cloud.githubuser

[2017-02-05 05:32] Arseflute commented on #75
![quetoo016](https://cloud.githubusercontent.com/assets/25470615/22623977/91fad512-eb3a-11e6-9c60-8ad49e7a857b.png)
it left that out for some reason

[2017-02-05 05:37] kaadmy commented on #75
They look a little small compared to the current gibs, are they mostly to scale? If `sv_max_clients` is 1, you can use `cg_third_person 1` to go to third person and look at them.

[2017-02-05 06:52] Arseflute commented on #75
they are to a realistic scale yes... I cant really make the head and hand as big as the ones in game.. but as far as a scale to player model yes they are close

[2017-02-05 06:52] Arseflute commented on #75
would look crazy to have a 50lb head :)

[2017-02-05 07:26] Paril opened #76 "CTF techs / runes / powerups?"
One of my favorite things in the Quake CTF games was the runes/techs that gave you the special abilities - haste, strength, regen and defense. I'd love to bring these back, but we'd need some models for them.

[2017-02-05 07:28] Paril commented on #75
Not bad so far! I think we need a few more generic boney/gib bits, though. The more the better!

Also I think the art style of the diffuse map might need to be played with a bit. It looks.. well, very "hyper-realistic" and kind of out of place to our bright cartoon-y gfx.

[2017-02-05 09:25] Arseflute commented on #75
just let me know. i can do what ever. if it needs to be mudded up or remodeled im good for either one

[2017-02-05 13:42] jdolan commented on #75
Hehe, these are hilarious. Agreed with @Paril's feedback. In my opinion, they are a little "DOOM3," which is to say probably too gritty for our aesthetic. We do want to keep with Quake2's cartoonish style. If these could be made brighter, and a little less gory, I think you'd have a winning ticket. I think the arm could be made more "drumstick-y" (lose the mangled hand, that's just gross ;)), and

[2017-02-05 14:08] jdolan commented on #73
@QuakeRanger is this something you'd have interest in doing? The process here would be:

 1. Clone `quetoo-data` in Github Desktop or similar
 1. For each map, unzip `quetoo-data\target\default\map-foo.pk3` to `\My Games\Quetoo\default`
 1. Open `My Games\Quetoo\default\maps\foo.map` in Trenchbroom
 1. Add CTF flags
 1. `quemap -bsp -onlyents -zip maps/foo.map`
 1. Overwrite `quetoo-data\target\de

[2017-02-05 14:09] jdolan commented on #74
@Paril should this be in quetoo and not quetoo-data?

[2017-02-05 14:11] jdolan opened #77 "Weapon view alignment still not quite right"
The weapon `view.cfg`s could still using some work. I hate to harp on this, but they're just not consistent.

[2017-02-05 15:48] Panjoo commented on #19
I'd call this one more or less done for now. -> https://github.com/jdolan/quetoo-data/commit/9156d1ee0c557ebcf8f086c49251c815c5eaa82b

[2017-02-05 15:49] #19 closed

[2017-02-05 17:31] kaadmy commented on #74
Why not just add color modulation to any model(s)? You'd need to pass in a few more textures (2 or so) as color masks to the shader and a color for each texture to modulate, then any model could have colors (Team colored models, CTF flags, etc.)

[2017-02-05 17:34] kaadmy commented on #75
Maybe brighter red and more red than bone/dirt?
Maybe some bone pieces would be nice, like a chunk of spine.
OpenArena has a heart and some other organs, they look nice there.

[2017-02-05 19:36] Panjoo commented on #75
@Arseflute
Hehe nice! I like these gibs and I honestly think they fit, even with the "\m/" hand.
On the other hand:), making it so that the hand/arm looks more like a piece of bone sticking out of a chunk of flesh it could also be regarded as a leg part.
As for the skins, I agree on the cartoonish style argument, but... I also tend to lean towards adding a bit of good old gore. Personally I wouldn

[2017-02-05 19:40] WickedShell commented on #75
@panjoo: What if we just role a 40% chance of a head gib, a torso gib, arm,
arm, and then you have however many gibs make it through the 40% chance (or
whatever number feels right) without any duplicates. It's pretty
straightforward from the code side.

Although at that point multiple options would be interesting...

On Sun, Feb 5, 2017 at 12:36 PM, Panjoo <notifications@github.com> wrote:

[2017-02-05 20:18] Arseflute commented on #75
i was using the base world.cfg of gib1, so i need to probably go set the scale on that to 1.0 around the board, and resize the model accordingly. just to for my OCD sake ;).. im not exactly sure what you mean by cartoonish? and i did originally have some intestines on the torso model, but they looked cheesy as i need to update my subscription to photoshop ;) looked more like a blob of fleshtone sn

[2017-02-05 21:06] Panjoo commented on #75
I was refering to what Paril and Jay were saying:

In other words, as long as one can tell what it's supposed to represent (flesh, bone, organs) it doesn't have to be all too realistic. The problem with very small details is that it can make it feel like other things are lacking. Otherwise there should be even more body parts and bits of clothing and whatnot.

@WickedShell - I'd have to see that i

[2017-02-05 21:41] Arseflute commented on #75
ahh ok i gotcha, alright, im gonna rework them and post again after complete

[2017-02-06 00:50] Paril commented on #74
@jdolan I thought about it, but it felt it fit here more because it requires much more code than it does content.
@kaadmy that's the idea :)

[2017-02-06 04:11] jdolan commented on #74
Oh, I see. So this ticket is really to have a masked off skin for each model that will take the color modulation. We should do this with the "default" skin for each model, right?

[2017-02-06 13:46] Paril commented on #74
Yeah basically, this is the data side of it. Exactly how it's going to work code-wise is a little up in the air, and ideally I'd like this to be able to be used on any entity that is "teamable" (for instance, flags could use this so we can have n-team CTF easily).

The default or team version of the model should have it (the Guard, for instance, has a special skin for colors which look nicer), yea

[2017-02-08 13:44] jdolan opened #78 "Tokays Towers BFG should alternate with Railgun"
I really miss having the BFG more readily available on this map. We've play tested the map with 4-8 humans a couple times, and no one has bothered to RJ up to it yet. I'd really love to see it alternate spawn with the Railgun like it does on q2dm2.

[2017-02-08 13:46] jdolan commented on #73
@Paril added code to the default game module that dynamically (but deterministically) adds CTF flags to all maps. This *may* reduce the amount of work required for this ticket. I think whoever takes it on should first run through the maps as-is, and see if the auto-generated CTF entities are adequate / ideal. If they are, that map can be skipped.

[2017-02-08 13:49] jdolan commented on #75
The giblets are currently randomized, @Panjoo. The player view is arbitrarily bound to one of the giblets (might be gib1, gib2 or gib3). If we have a designated "head" giblet, we'll adjust the code to always bind the player's view to that giblet. That way, other players can identify and knock your head around for fun while you watch.

@Arseflute noticed last night that `misc_lava_ball` actually us

[2017-02-08 13:50] jdolan opened #79 "Armor shard too large"
I think it could be reduced by 15-20% scale.

[2017-02-08 15:18] Panjoo commented on #78
Roger. I need to edit a couple of little things in tokays anyway.

[2017-02-08 15:21] jdolan commented on #78
@Panjoo Btw if you idled in Discord, you wouldn't miss out on 8 player Quetoo on your maps! :D

[2017-02-08 15:22] Paril commented on #78
Team chain works the same way it does currently yeah? Should be easy :)

@Panjoo you can join through browser without needing to download a thing or even make an account. We'd love to have you more readily available to poke.

[2017-02-08 15:28] jdolan commented on #78
It's really sad, but @Panjoo and I have literally never played Quetoo against each other. Isn't that crazy? I bet he'll kick my ass, too.

[2017-02-08 15:53] jdolan opened #80 "Stronghold Opposition"
This was an epic Q2 CTF map, 2forts-style, with huge water areas that would look awesome in Quetoo. We have a lot of the materials required for this map, too, from Warehouse, Rage, etc.

[2017-02-08 15:54] jdolan commented on #80
![q2ctf2_-_stronghold_opposition](https://cloud.githubusercontent.com/assets/643118/22744982/02fd8b56-eded-11e6-9d55-2f51426250aa.png)
![q2ctf2_sm](https://cloud.githubusercontent.com/assets/643118/22744984/0479bfb8-eded-11e6-849f-66893053aa1a.jpg)
![kazrailspaul](https://cloud.githubusercontent.com/assets/643118/22744985/05fd3964-eded-11e6-9de4-70712b4b26d6.jpg)

[2017-02-08 17:04] jdolan commented on #76
![rune_haste](https://cloud.githubusercontent.com/assets/643118/22748020/b9c10404-edf6-11e6-9e13-ee51f2ebe973.png)
![rune_regen](https://cloud.githubusercontent.com/assets/643118/22748019/b9bce2ac-edf6-11e6-998b-7cbbc809c021.png)
![images](https://cloud.githubusercontent.com/assets/643118/22748021/b9ce334a-edf6-11e6-982c-4f27ac285150.jpg)
![images-1](https://cloud.githubusercontent.com/assets/6431

[2017-02-08 17:38] kaadmy commented on #73
I've seen Gym have CTF flags both colors swapped yesterday.

[2017-02-08 17:40] kaadmy commented on #76
Is strength just Quad damage or is or different?

[2017-02-08 18:12] WickedShell commented on #75
@jdolan: Or we could have head giblets for lava balls... That could be
kinda cool :)

On Wed, Feb 8, 2017 at 6:49 AM, Jay Dolan <notifications@github.com> wrote:

[2017-02-08 22:32] jdolan commented on #76
It does 1.5 or 2x damage..

[2017-02-09 00:05] Panjoo commented on #78
Tokays updated.

Yeah, that is pretty crazy when you think about it! But then again for a long time the game wasn't very playable online, for me at least. I'm also like 6 or 7 hours ahead of you so that's sort of inconvenient. I'd have to stay up late and you'd have to start playing pretty early.
Just checked out discord and registered, btw.

Yeah I bet you would.
![pokepoke](https://cloud.githubu

[2017-02-09 00:05] #78 closed

[2017-02-09 00:59] kaadmy commented on #64
Oops, closed by accident, work on this anyway.

[2017-02-09 01:06] kaadmy commented on #64
What colors should the names be?
Is `^1T^7he ^1E^7dge ^4by ^3P^7anjoo` okay?

[2017-02-09 01:07] kaadmy commented on #52
Some stuff here is already done, is @Panjoo doing this one?

[2017-02-09 01:11] kaadmy commented on #77
Which ones stand out the most here?

[2017-02-09 09:31] Panjoo commented on #52
There's going to be a big cleanup. Before I actually moves file around and delete stuff I'm trying to clean and organize all those large psd's (offline) and optimize them so that they're actually up-to-date and useful for keeping. I need to be going now but I'll be going through data tonight.

(Btw did you pm me on discord yesterday? Been checking it out and I was scrolling up through old messages

[2017-02-09 17:27] kaadmy commented on #52
Hi on Discord :)

[2017-02-09 20:50] kaadmy commented on #64
See #81.

[2017-02-09 23:11] Paril opened #82 "New flag data for teams_o_plenty branch"
[new_ctf_data.zip](https://github.com/jdolan/quetoo-data/files/765329/new_ctf_data.zip)

Includes team1 and team2 data flipped to match proper colors and added team3 and team4 green/orange stuff. Extract when teams_o_plenty is merged, do not touch till then.

EDIT: Also includes better link.cfg for flags being held

[2017-02-10 04:59] WickedShell opened #83 "Lilith: Geometry is poorly clipped near RL"
Ceiling features on Lilith near the RL don't block movement. (I am to tired to remember the mapping name for this) All the attached ones can be run through by the player.
![quetoo064](https://cloud.githubusercontent.com/assets/567688/22814749/398f94f8-ef13-11e6-93bc-ea87b2d41348.png)
![quetoo065](https://cloud.githubusercontent.com/assets/567688/22814748/398f342c-ef13-11e6-83eb-1a58b52cfc88.png)
!

[2017-02-10 05:07] WickedShell opened #84 "Lilith: Escape through the ceiling"
You can escape through what is meant to be a view through towards skybox/upper geometry with the hyperblaster via wallclimibing. It also explains why there are textures up here in the "unreachable" area. There is a decent number of faces that a user shouldn't be able to see.

Unless someone thinks this is good behaviour, but most people won't know about it.

![quetoo067](https://cloud.githubuserco

[2017-02-10 17:03] #82 closed

[2017-02-11 17:17] jdolan opened #85 "Use ioq3 player models"
There are a hundred or so Q3 player models archived on the ioq3 site:
https://ioquake3.org/extras/models/

Most of them are really bad. I spent a few hours downloading, adjusting and testing them in Quetoo. Here are the finalists:

High priority (these are drop-in ready, or are worth some minor rework ASAP)
---

**Bunker** Great model. Looks like Grunt after 10 years of drinking beer.
![bunker](ht

[2017-02-11 17:22] jdolan commented on #85
CC @Paril @Panjoo @kaadmy @QuakeRanger

[2017-02-11 17:34] jdolan commented on #85
Here's a link to a .pk3 with **all** of these models lazily bundled together, to get us started:
http://jaydolan.com/tmp/player-ioq3.pk3

[2017-02-11 18:52] Arseflute commented on #75
ok is this a little more fitting?
![image](https://cloud.githubusercontent.com/assets/25470615/22856535/283499b6-f061-11e6-94b0-941ff711f268.png)
![quetoo016](https://cloud.githubusercontent.com/assets/25470615/22856537/3af4631a-f061-11e6-9397-7956fc8b264f.png)
![quetoo017](https://cloud.githubusercontent.com/assets/25470615/22856538/3afa6ecc-f061-11e6-8cc8-4f4261f4c19d.png)
![quetoo018](https://c

[2017-02-11 19:13] kaadmy commented on #85
All the ones in the high priority list look really good to me, the penultimate one also looks pretty good.
I can help with packing into pk3s, but I'll wait until we can confirm they can be used in Quetoo.

[2017-02-11 19:46] jdolan commented on #75
Haha, oh man.. that head cracks me up.

[2017-02-11 19:52] Arseflute commented on #75
that was the idea wasnt it? :)

[2017-02-11 19:53] jdolan commented on #85
@kaadmy I would say if you wanted to get started on Dragoon, just go for it. Please place the original .txt file that came with the model in `target/docs/player-dragoon.txt`.

[2017-02-11 19:55] kaadmy commented on #85
Aren't the high priority ones basically ready to drop into pk3s?

[2017-02-11 19:56] kaadmy commented on #85
And by "penultimate one", I meant the penultimate low priority one ;) Sorry about that.

[2017-02-11 19:57] jdolan commented on #85
Dragoon is drop-in. Bunker's belt is white for some reason. Others have blend issues (code changes and possible skin edits required).

[2017-02-11 20:20] jdolan commented on #85
I did receive consensus from Polycount folks, and from one of the skinners who worked on Dragoon (f1restarter) that we're in the clear to use these. We need to be diligent about making sure the original text files are plainly available (not packed) in the data directory.

[2017-02-11 21:52] Panjoo commented on #84
Oh look, monkey boy has found a hole and climbed out again;)

I think I'll just place clips over the roof areas and caulk off the normally unseen faces there. The closer I look at this map in Radiant the more it feels rushed and unfinished in a lot of those places.
And the normalmaps for this texture set are also not what they could be... hmmm:/

[2017-02-11 21:54] Panjoo commented on #83
Noted, some things appear to have been set as `mist`.

[2017-02-11 22:14] jdolan commented on #85
Dragoon and Bunker are in!

[2017-02-11 22:47] jdolan commented on #83
@Panjoo what do you think of retexturing this map in baseq2 garb? It's something we were chatting about in Discord the other day. And I'm not suggesting that you do it, but.. I think the map would look a lot better. You?

[2017-02-11 22:57] Panjoo commented on #85
I've seen most of these before. I remember I was always downloading new models in the past and then got all exicted but the soon as I saw their poor (running) animations ingame they usually didn't stay very long on my hdd. Some seem excellent though (still need to really try them out):

Nitro!
Bunker
Dragoon
Brianna
Pms
Crakho
Mantis

A couple of these models immediately made me think of vanilla Q

[2017-02-11 23:08] Paril commented on #85
And we finally have a female with Bunker!

[2017-02-11 23:32] Panjoo commented on #83
Baseq2 style could maybe look better but take it from me that retextureing rarely works. Not without killing the map's spirit.
It's one of the reasons I try to make my q2 ports stay close to the real deal. I know first hand that mappers almost always get inspired by a texture set, and they build the map with that in mind. Take the walls in Lilith for example, the idea to create holes in the walls

[2017-02-12 00:15] Panjoo commented on #75
Yes I think that fits better, nice random chunks of bloody goodness.
And I know what was said about realism but that eye looks a bit too unscathed, with the head almost gone. It should just look more dead like a zombie eye, kind of like this:

![deadeye](https://cloud.githubusercontent.com/assets/10857572/22858516/3f6b697a-f0c0-11e6-8735-cb2963759953.png)

So far 👍

[2017-02-12 02:04] Arseflute commented on #75
nice, i think your right
i didnt even think of that, and i should have.. thats way better in my opinion

[2017-02-12 02:06] Arseflute commented on #75
@Panjoo can i send you the skin and you work some magic on it?

[2017-02-12 02:08] Arseflute commented on #75
i have gimp and i hate that, im about to renew my photoshop subscription but at the moment im without. and im not really familiarized with gimp.. just using what i can. its a pain to make veins and such in. im sure its very possible but im just not on the level of experience with it.

[2017-02-12 04:07] jdolan commented on #83
"..not without killing the map's ... *spirit*" I see what you did there.

[2017-02-12 16:36] Panjoo commented on #75
Yes that's okay mr Buttwhistle, I understand switching tools is a pain. Either try to zip and upload it here or just email it to me.

[2017-02-12 19:38] jdolan commented on #75
You can attach up to 10MB here @Arseflute

[2017-02-12 20:38] Arseflute commented on #75
i just emailed it to you, for some reason when i try to put the zip file in here it tells me its not supported to try a zip file?? umm ok

[2017-02-12 20:46] Panjoo commented on #75
Aight I got the file, thanks.

Weird that it wouldn't take the zip, let me try ataching your zip here:
[skin.zip](https://github.com/jdolan/quetoo-data/files/769613/skin.zip) <-this is your original skin as a test

hmm see that works, I just dragged it in the text window and it uploaded, lol

[2017-02-12 21:01] Arseflute commented on #75
![image](https://cloud.githubusercontent.com/assets/25470615/22865990/736f1038-f13c-11e6-90f1-c9bc28a21262.png)
thats all its giving me, strange...

[2017-02-13 17:54] Panjoo commented on #79
Experimented with different percentages until it felt right.
![shardsize](https://cloud.githubusercontent.com/assets/10857572/22895643/8c3f2954-f21d-11e6-9ba9-7ffa68ed01a0.jpg)

[2017-02-13 17:54] #79 closed

[2017-02-13 18:08] jdolan commented on #79
I dig it.

[2017-02-14 22:06] Quake2Beaver opened #86 "Allow materials to specify underwater screen blending"
would like the ability to make water clear on all maps while underwater
it looks good with cg_draw 0  but i was informed that would take away vital elements of the game
 id like for players to be able to see clearly in water with out typing a command or losing those vital elements.

![quetoo080](https://cloud.githubusercontent.com/assets/23428363/22951549/40765238-f2cf-11e6-85fc-d806018444f8.png)

[2017-02-14 22:09] kaadmy commented on #86
Maybe `cg_draw_blend_water` as a CVar, or should this be a map option?
Map worldspawns could also have a `waterblend` boolean.

[2017-02-14 22:55] Paril commented on #86
It *might* be possible to tie this into material system... @jdolan would this work if we had like "water_blend <rgba>" and we use that for blend colors? Then lava/slime/water colors can be not hardcoded into the game too.. only thing is I dunno how we get materials of the water surface from the brush.

[2017-02-15 01:40] Arseflute commented on #76
Model for regen tech, this is just a temp texture tho to get the model in game. Would like to have your feedback on this @Panjoo
![quetoo034](https://cloud.githubusercontent.com/assets/25470615/22957361/d0b72996-f2f5-11e6-8556-69ece5b2350a.png)
![quetoo035](https://cloud.githubusercontent.com/assets/25470615/22957368/d5b3d82c-f2f5-11e6-8021-772718c8e1e6.png)

[2017-02-15 01:54] jdolan commented on #76
This mode is about 10% smaller than the Quad, btw.

[2017-02-15 03:02] jdolan commented on #86
R_LeafForPoint will return the BSP leaf you're in. Iterate the surfaces until you find the material with `water_blend` (or whatever) defined on it's texinfo.

[2017-02-15 16:28] Panjoo commented on #76
I'm working on mutiple things at once and I also just started with a tech model already.
At first I thought about using a modified quad too but then got the idea to make them more like a _modern techno-powercube_. Using the shape of a rotated ammobox as a base.

![techno](https://cloud.githubusercontent.com/assets/10857572/22983856/c0be98d6-f3a3-11e6-88cb-5c674ea49b2f.gif)

So my idea was to have

[2017-02-15 16:35] Panjoo opened #87 "Gib_3 (head) is always floating above the ground"
While fixing the gib skins and testing out the newer models I noticed that the head doesn't want to rest on the ground like the other gibs.
They all sit nicely on the Origin but the head is stubborn. I suspect something has been done to the head gib to give it special treatment. The soon as I switched gib_3 with gib_1 the head was resting closer to the ground like it should.

[2017-02-15 19:11] Panjoo commented on #28
How's this one going? I bet acquiring or creating the right textures is the problem, mine always is with map ports.

[2017-02-15 20:52] jdolan commented on #76
Wait, what? No it's not. You're the creative lead :)

If we go with the box thingus, could we make the primary faces glass and have the "rune" part be inside of it, like a prism? It'd mean that they are each unique models, but I think it'd look really badass.

[2017-02-15 20:55] jdolan commented on #87
It could be the bounding box that I set for it in the code:
https://github.com/jdolan/quetoo/blob/master/src/game/default/g_client.c#L303

You can see the 3rd set of mins/maxs expect the model to be about 18 units across, 9 units in all 3 directions. So this could be view.cfg, or the model itself, not agreeing with that sizing.

[2017-02-15 20:56] jdolan commented on #87
Btw, the mins/maxs are set there so that the gib collides correctly, approximately with the right sized box.

[2017-02-15 20:58] jdolan commented on #28
Could always trak5 this puppy. I'd submit that we do not yet have a good looking, good playing map that uses those textures. If we did, I'd probably cut Trial or Wake or both :|

[2017-02-15 21:00] WickedShell commented on #28
Trial seems close actually. (At least I've enjoyed it with others so far).
Wake I admit is problematic, but nice as a system test :) (Gameplay wise
it's a disaster for rockets/nades)

On Wed, Feb 15, 2017 at 1:58 PM, Jay Dolan <notifications@github.com> wrote:

[2017-02-15 23:56] Panjoo commented on #76
I know dude, because you decided to put that title on me :P
I'm fine with making these decisions but I'll never be like "I'm the creative lead and I want it like this, no discussion". Although some things like q2 railgun damage and handgrenades are not really debatable for me,-)

Anyways, @Arseflute has already put some effort into this and he might not have seen Paril 'pinging' me about these mod

[2017-02-16 00:21] Panjoo commented on #87
The gib only has a (dummy) world.cfg, no view.cfg. And modelers don't really use units, so what now?

I've got the head gib more or less at a good scale now and I don't want to have to upscale it and make it too big. As a test I scaled it up by 1.5 and at that size it seems to touch the ground. Would that mean that if you changed the 3rd set of mins/max to expect 10 units across, 5 in all directio

[2017-02-16 00:33] Arseflute commented on #76
oh i just now caught up to this, been playing around with it. actually the pulse thing came to mind as well.
made the cross pulse in the ring. i like the idea of the runes pulsing, it makes them stand out in darker areas a lot better.

[2017-02-16 00:35] Paril commented on #76
I'll be honest @Panjoo I hate the idea of having androgynous boxes with different textures. I'm not a fan of the ammo models as-is either personally, but maybe it's just me - they're over-reliant on color cue instead of design. I worry that if the techs go the same route we'll have a similar problem.

The old Q2 techs are immediately recognizable, albeit a little too huge. What if the box was holl

[2017-02-16 00:56] Panjoo commented on #76
Oh I hear ya, I have the same feeling about the ammo being all the same and I definitely don't want the Techs to be just like the ammo. It's going to be containers with actual _different_ techpowers inside. Not just different textures. That's what I meant by "opening up the cube".

If you think about it the wingy Q would also be the same for all techs except for the power item inside. So it's the

[2017-02-16 01:03] jdolan commented on #87
I meant `world.cfg`, not `view.cfg` -- my bad.

Yes, don't worry about how they clip right now. If you push updated models with centered origins at the sizes you want them, I can make them clip correctly :)

[2017-02-16 01:14] jdolan commented on #76
We can absolutely do glass / translucent textures on models. Check out qforcer's visor. It does require enabling blend in the material definition, but that's straightforward.

I like the idea of vampire teeth for the vamp model. Cheeky, but effective. Very Quetoo.

Okay, so it sounds like we have some consensus that Pan's powercube concept, with "windows", probably some unique coloring, and unique

[2017-02-16 01:29] jdolan commented on #76
Thanks for the heads-up on the Dragoon CTF skins, btw. Those were weird. It's almost like they were meant to be additional layers over the default skin -- so that's what I did.

[2017-02-16 01:30] jdolan commented on #87
Will be closed via #75

[2017-02-16 01:30] #87 closed

[2017-02-16 01:32] Panjoo commented on #76
Ah cool! Yes I'd like to give the powercube design a try first.
The ideas are all still simmering in my mind so gimme some time to see if this could be something. I'm going to do the Haste tech first (w. bolt).
If it completely fails and looks like garbage then we already have something to fall back on. In the meantime arseflute can start creating the other "charms" and mail them to me as .obj fil

[2017-02-16 01:34] Arseflute commented on #76
what is your idea for an acceptable tri count for charm, and tri count for entire model?

[2017-02-16 01:35] jdolan commented on #77
`give all` and then cycle through them. They're all over the place.

Btw @Panjoo @Arseflute, I added a few new cvars that should really help with object scale and origin:

    cg_entity_bob 0
    cg_entity_pulse 0
    cg_entity_rotate 0

Will yield completely stationary pickup items.

    cg_bob 0

Will disable your own view bobbing, so you can really see these things and examine them up-close.

H

[2017-02-16 01:46] Panjoo commented on #76
Oof hard to say. Maybe around a 100-150 max for the charms, rather have less though. Probably around 500-600 for the entire model. The Quad is close to 500.

[2017-02-16 01:48] Arseflute commented on #76
that seems pretty doable really, i was just messing around with it. i dont think that should be a problem at all

[2017-02-16 01:50] Arseflute commented on #77
thats going to be awesome to be honest ;)

[2017-02-16 01:56] Paril commented on #76
There will only ever be a max of 5 on screen at once, and even that is an extremely rare scenario, so yeah probably don't go past 600.

I like the idea of physically mailing a USB stick with .obj files on them. It cracks me up.

[2017-02-16 01:57] Paril commented on #86
Cool, I'll see about doing that if it's not too intensive to do per frame.

[2017-02-16 02:10] jdolan opened #88 "Cut up and mix down new sounds for Guard player model"
Brian Watts has created some new sounds for the Guard player model. See attached. They are a single .wav file right now, so they need to be cut up, possibly leveled, and then merged into `player-guard.pk3`.

[guard-sounds.wav.zip](https://github.com/jdolan/quetoo-data/files/778880/guard-sounds.wav.zip)

[2017-02-16 02:27] Arseflute commented on #76
Wait that's not how your supposed to do it?

[2017-02-16 02:47] jdolan commented on #86
We could actually iterate the leafs at map load and resolve any `blend_color`, storing it on the `r_bsp_leaf_t`. Then each frame only requires a single call to `R_LeafForPoint(r_view.origin)` -- which we're already doing in `R_MarkLeafs`

[2017-02-16 02:49] jdolan commented on #86
I'd even go as far to suggest that we resolve the texture's average color and use that as the default blend color. That way, for 90% of the water / lava / slime textures in the game, blend is automatically applied with a reasonable color. I *think* we are already resolving the average color of each texture, too.

[2017-02-16 04:00] jdolan commented on #77
There's a new map available, called `sandbox`. It includes all items / weapons / flags. You can use it with the above cvars to see exactly how our weapons stack up.

[2017-02-16 06:21] Quake2Beaver opened #89 "hook non-responsive / grappling hook effects."
hook could be more responsive with auto refire hook when hooking non-hookable object like a player, the sky, etc

 as long as the hook key is being held down a hook should be firing or attaching to an object until released.

(i was pressing the hook key at a rapid pace tonight and sometimes i would hit the key expecting a hook to fire but nothing comes out and my finger is holding down the key.  i

[2017-02-16 10:07] Panjoo commented on #76
^  \o/ :)

---
Since you also asked about tris count for the entire model, and just to make sure; you don't need to do an entire model just those inner charms. And no skin mapping yet, I'll have to do that afterwards with the complete model.

Thinking about this some more, the _total_ polycount will be a lot lower than what I guessed.
The container box is around 75 and is not going to be much more

[2017-02-16 12:27] jdolan commented on #89
Closing this out, it belongs in `quetoo` not `quetoo-data`. See https://github.com/jdolan/quetoo/issues/425

[2017-02-16 12:27] #89 closed

[2017-02-16 12:28] #49 closed

[2017-02-16 17:27] Arseflute commented on #76
Oh yeah I know, I just made a test run last night and my guess was around 100 tris for the charms, I really don't think it would take that many tho. Can you give me a list of what you guys decided for the charms

[2017-02-16 18:41] Panjoo commented on #75
Just pushed the updated models, so this is done.

[2017-02-16 23:37] Arseflute commented on #75
Awesome, love the texture work you did btw.

[2017-02-17 00:34] #75 closed

[2017-02-17 04:05] Paril opened #90 "Chest gib"
We still need one larger gib to be used as a chest piece. I love the current new gibs, although head needs to be scaled, but the one thing missing is a central piece. After that I think we can finally call gibs done for now :)

@Panjoo and @Arseflute, pinging since they relate to you.

[2017-02-17 09:57] Paril commented on #86
That sounds great actually - and yes the average colors are stored in r_image_t

[2017-02-17 09:57] Paril commented on #88
These have been chopped and placed in src. Not ready for prime time yet though.

[2017-02-17 10:19] Paril opened #91 "Pants/shirt/head color masks for our default skins"
Alright, so this will take probably a full day of work from somebody who is more good at photoshop than I am. First, grab the sample here:

[guard.zip](https://github.com/jdolan/quetoo-data/files/782914/guard.zip)

Extract this to your local data "quetoo\default\players\guard\" (not your data dir, the read-only one) and load the skin in-game, using "cg_third_person 1" to see yourself. (at the time

[2017-02-17 10:22] Arseflute commented on #90
Crap I completely forgot about that one

[2017-02-17 12:23] jdolan commented on #91
A link to the QForcer ones you did would be helpful :)

[2017-02-17 15:21] Paril commented on #91
They were shit, that's why I did the guard one instead :p

[2017-02-17 19:42] Panjoo commented on #90
@Paril see #87

@Arseflute - I'd suggest using the chest model you already made, but with less meat on the backbone.
And please downscale the skin to 512x512 as I did with the other gibs.

[2017-02-17 19:44] Paril commented on #90
Sounds good!

@Arseflute make the chest folder name "gib_4", that'll work fine :)

[2017-02-17 19:48] Arseflute commented on #90
will do.

[2017-02-17 22:08] Arseflute commented on #90
@Panjoo can you explain a little further exactly what you mean by less meat on the backbone?

[2017-02-17 22:53] kaadmy commented on #90
Maybe move the back farther "into" the rest of the body, ie. sunken in.

[2017-02-17 22:54] Arseflute commented on #90
that sounds like more meat around the back bone. Then again i am a little backwards

[2017-02-17 23:42] Panjoo commented on #90
I'd like to give some more emphasis to the backbone and ribscage so if you could hollow it out some more I think it'll look better. We can always draw in some more ribs on the outside but it looks too much like a solid chunk now.

[2017-02-18 03:38] Arseflute commented on #90
![](https://cdn.discordapp.com/attachments/276485695030427648/282354272861945856/unknown.png)

![](https://cdn.discordapp.com/attachments/276485695030427648/282353639723368449/unknown.png)

![](https://cdn.discordapp.com/attachments/276485695030427648/282353727036456962/unknown.png)

![](https://cdn.discordapp.com/attachments/276485695030427648/282353677501464580/unknown.png)

Hopefully this will

[2017-02-18 03:39] Arseflute commented on #90
it still wont let me post a .zip file for some reason, i will have to send you the file over discord @Paril

[2017-02-18 10:31] Panjoo commented on #76
Been trying to get this to work but this description not very clear to me. What I get from this is I have to make the actual skin with both components (container + windows) in the same image, just like a I normally would with any skin. And then on this image, I only make the window part completely transparent. I tried to do this by creating an alpha channel as shown in this pic, the black area sho

[2017-02-18 11:25] Panjoo commented on #90
First pic looks okay in perspective but overall it feels like an Armor jacket. It's going the right way though.

![chest](https://cloud.githubusercontent.com/assets/10857572/23092865/76d5ac04-f5d4-11e6-9d44-3c1386caccf7.jpg)

[2017-02-18 11:26] Paril commented on #76
mesh_color will cause the stage to use the mesh coloring instead of being fullbright.
In theory that should work; can you send me the zip with the test files so I can play with it?

[2017-02-18 14:26] Arseflute commented on #90
Yeah it needs some tweaking after I looked at it in game for sure

[2017-02-18 15:06] Panjoo commented on #76
^ done.
I'm going to experiment some more with these skins.

[2017-02-18 20:18] Arseflute commented on #90
![image](https://cloud.githubusercontent.com/assets/25470615/23096580/8032cb6a-f5ed-11e6-9586-99412833d2af.png)

Edited, and rescaled a little.

[2017-02-18 22:38] Panjoo commented on #90
Yep, I think that's better already.
I probably would have taken away the bottom half though and kept only the spine hanging out. But I know how much work it can be to edit this stuff is so it's up to you.

Here's a fabricated image of what I mean;
![shorter](https://cloud.githubusercontent.com/assets/10857572/23097387/83e8c15c-f632-11e6-98ea-cb60d65b1f63.jpg)

I'm preoccupied at the moment but if

[2017-02-18 23:07] Arseflute commented on #90
I can do something to that effect.. im sure your hands are quite full, and i enjoy the process, the more ya do the more ya learn right? well i hope so anyway lol..  Only other thing i have going on is a map, so i will give it a shot and see what happens. thanks for the image tho, that will help out tremendously

[2017-02-19 05:06] Arseflute commented on #90
![image](https://cloud.githubusercontent.com/assets/25470615/23099516/0c52d2f4-f637-11e6-969a-684f448a68ac.png)
this is a little closer, trying to do it without causing errors and re uvmapping the whole thing.. but im thinking i may do that anyway

[2017-02-19 05:06] Arseflute commented on #90
![image](https://cloud.githubusercontent.com/assets/25470615/23099522/4fe389b4-f637-11e6-9cc9-38bf7b0faca8.png)

[2017-02-19 14:28] Panjoo commented on #90
Definitely better this way.:)
As for uvmapping and such, here's a trick I use to help with preventing ugly strech effects. I've made this "checkers" pattern texture that I temporarily slap onto a model if I notice bad areas.

The squares don't have to be aligned but roughly be the same size everywhere. So try to prevent one area having just a few big squares while others have many tiny ones. This

[2017-02-19 16:54] kaadmy commented on #90
Blender has a builtin image generator to generate UV test images :D
http://blenderpdx.org/wp-content/uploads/2015/02/1.5-UV-Test-Grid.png

[2017-02-20 04:18] Arseflute commented on #90
yeah, the uv was good on that, but i moved the verts to avoid re uv at the moment.. im gonna go back in on the new shape now and remove a lot of tris and re uv the whole thing and texture it.. just was trying to hurry and get a complete gib set

[2017-02-20 04:19] Arseflute commented on #76
do i need to go ahead and place the charms inside the round winged model?

[2017-02-20 22:52] Panjoo commented on #76
Nah, I'm working on something new with the charms, something more sphere-like.
But if it happens to turn out less nice than I have in mind I'll let you know in time.

[2017-02-21 00:43] Arseflute commented on #76
Oooo, is it like a glass sphere with charm inside?? That will look bad ass
in my opinion.

On Mon, Feb 20, 2017 at 5:52 PM, Panjoo <notifications@github.com> wrote:

[2017-02-21 01:00] Panjoo commented on #76
Agreed. But Paril has told me that a model is limited to one diffuse texture for the entire model, so at this point I can't get transparency to work on them skins without making the entire thing transparent.
But what I have so far is starting to look nice too.

[2017-02-21 01:18] jdolan commented on #76
I mean.. can't you just have part of the texture use the alpha channel?

[2017-02-21 18:04] kaadmy commented on #91
I'll try to work on this one.

[2017-02-21 21:51] kaadmy commented on #91
Alpha is now used in tintmaps as a factor for blending between diffuse and tintmap. e6b17731

[2017-02-22 10:15] Paril commented on #91
@kaadmy Lovely job on the Qforcer default and Guard default.tga!
I have a few things that I need you to do before we can button this one up, though.

- [ ] Before doing the below, fix up the code to resolve issues Jay had with the setup; he didn't want the game to use SHIRT/PANTS/HEAD in the constants or material parsing. Maybe we should just change those to TINT_R, TINT_G and TINT_B or something,

[2017-02-26 20:30] Arseflute commented on #30
Well the map port is done, but this thing wont let me upload the zip file.. still saying we dont support that file type, try a .zip file.. stupid.

[2017-02-28 00:19] jdolan commented on #30
@Arseflute I can give you write access to this repository if you'd like to learn a little Git-foo so that you can commit directly. What do you think?

[2017-02-28 22:09] Buzzard-Bait commented on #30
Sounds good to me, but until i learn how to do that i will go ahead and do this.
[map-dreams.zip](https://github.com/jdolan/quetoo-data/files/809093/map-dreams.zip)

[2017-03-01 16:00] Buzzard-Bait commented on #30
actually that zip has the wrong .mat file in it, this is the correct file.
[map-dreams.zip](https://github.com/jdolan/quetoo-data/files/811246/map-dreams.zip)

Sorry about that

[2017-03-01 16:05] jdolan commented on #30
No worries! I will check this out either tonight or this weekend and will merge it in for you. Can't wait to have a look :)

[2017-03-01 16:14] Panjoo commented on #76
^No, as I mentioned above, that was the problem. It just can't become partially transparent like it can on playermodel skins.

BTW I've already pushed the new Techs, they look even better when they're spinning.
Would be nice to eventually give them their own special fx sounds I think.

![prev-techs](https://cloud.githubusercontent.com/assets/10857572/23468543/58c0b1ac-fea1-11e6-865d-7e7552bbc9c5.j

[2017-03-01 19:58] jdolan commented on #76
Holy shit, @Panjoo. Those look amazing.

[2017-03-02 13:08] jdolan commented on #90
This is able to be closed, yes?

[2017-03-03 22:44] Buzzard-Bait commented on #32
![00](https://cloud.githubusercontent.com/assets/25470615/23571759/03927ac8-0039-11e7-851e-a2c3b90607d6.png)
[map-heavy-metal.zip](https://github.com/jdolan/quetoo-data/files/818114/map-heavy-metal.zip)

[2017-03-03 23:10] kaadmy commented on #32
That looks good, but the fog/skydome look like Fractures.
You can check out [these](https://www.quaddicted.com/webarchive/kell.quaddicted.com/skyboxes.html) skyboxes, they're really good and most of Quetoo's maps already use them.

[2017-03-03 23:46] Buzzard-Bait commented on #32
Soon as I'm back on pc I will go give it a look. I actually robbed that sky
from trial

On Mar 3, 2017 6:10 PM, "KaadmY" <notifications@github.com> wrote:

That looks good, but the fog/skydome look like Fractures.
You can check out these
<https://www.quaddicted.com/webarchive/kell.quaddicted.com/skyboxes.html>
skyboxes, they're really good and most of Quetoo's maps already use them.

—
You are rec

[2017-03-04 13:05] jdolan commented on #32
Good call on the sky, @kaadmy. Concrete Dreams actually needs a new skybox, too. The original map had a pretty vivid yet pale blue sky. Really tied the map together and made the title work.

Btw, as for packing these maps up for upload, you can probably get away with the following:

    quemap -zip maps/heavymetal.map

This will generate `map-heavymetal-XXXX.pk3`. Just rename that file to `map-hea

[2017-03-04 13:16] jdolan commented on #32
Just another note on the lighting: you can see in the screenshots of the original that the lighting was a bit softer: the point light sources were weaker and rather yellow in the original map. Combined with the ambient machine clanking, the result was that you could almost feel the heat and energy in the original map. Which reminds me... sounds ;)

[2017-03-04 14:32] Buzzard-Bait commented on #32
actually im good with re texturing these parts, i just didnt know how exact you wanted the port to be as far as that kind of thing. the version i have its clipped similar to this. as far as the brown wall textures those are from rage, i didnt realize they were a jimw texture, they were close to an exact match, and i really am not sure there is anything to be done with those without changing the ma

[2017-03-05 00:27] jdolan commented on #32
No need to defend! I wasn't trying to pick apart your work.. just trying to point out things that could be done to bring it up to the standards of our current Quake2 ports :)

[2017-03-05 01:56] Buzzard-Bait commented on #32
Oh no I know. And I completely agree with you. Now that I know it doesn't
have to be a mirror of the original it will be funner I believe :)

On Mar 4, 2017 7:27 PM, "Jay Dolan" <notifications@github.com> wrote:

[2017-03-05 11:22] Panjoo commented on #30
'Concrete dreams' uses Stecki's "snow" sky which always felt like an important part of the map's atmosphere.
The lighting and sky should always match to create a sense of place. I haven't properly looked at your port yet but if you just kept the original pointlights from the converted map without tweaking them

he original map had a pretty vivid yet pale blue sky. Really tied the map together and

[2017-03-05 13:02] Panjoo commented on #30
'Concrete dreams' uses Stecki's "snow" sky which always felt like an important part of the map's atmosphere. So I'd suggest to use the same sky here.

http://panjoo.tastyspleen.net/quetoo/uploaded/sky-dreams.zip
(Github doesn't accept .zips anymore for some reason- used to work fine. Pdf's and images are no problem)

Anyway, to create a sense of place the overall lighting and sky should more or le

[2017-03-05 18:46] Buzzard-Bait commented on #30
actually @Panjoo after all my zip troubles i finally found out the problem.. mine was because for some odd reason if you have winzip or winrar installed on your system it wont upload them anymore... dont know why thats just what support told me. i uninstalled winrar and bam can upload zips again...

and yes, at first i thought wow this guy was a slop ass mapper, but Jay informed me how the convert

[2017-03-05 22:52] Panjoo commented on #30
That's... strange, especially if it wasn't a problem before. I couldn't even find some more about this on the internet. But if your upload problem is fixed then good;-)
I also have 7-Zip which is even better, but no way I'm getting rid of Winrar just so I can drop the occasional file in github. The integrated "compressed folder" zip in Windows is not up to par with 7-Zip/Winrar.
Oh well, apparentl

[2017-03-05 23:21] Buzzard-Bait commented on #30
i feel ya man, i dont understand why it effects uploading a zip file here... but apparently it did?? i know a lot of people that wont uninstall winrar. seems like they would figure it out and fix it

[2017-03-08 23:44] kaadmy commented on #64
This is a very simple thing to finish, I can do it with half hour of time pretty easily.
Any specifics on colors? I think green+white for all the Q1/Q2 remakes is good, and all other maps use their "color"+white.

[2017-03-08 23:46] kaadmy commented on #73
Are the default maps adequate right now for CTF with the autogenerated flags? If they don't have the flags then they probably won't play very well in CTF anyway. Adding more than 2 teams would also mess stuff up.

[2017-03-09 00:09] kaadmy commented on #77
Eh, I'll try to take this one on quickly to try to line the first-person models up a bit.

[2017-03-09 00:33] jdolan commented on #64
Yea, straight up green messages for the Quake and Quake2 remakes, and then "map color" plus white for all other maps. Thanks @kaadmy!

[2017-03-09 00:42] jdolan commented on #73
They're playable but really sub-optimal. @Paril's code basically "forfeits" a player spawn point as the flag spawn, so for maps that are already somewhat sparse in terms of player spawns, auto-CTF is problematic. Warehouse is a good example of this.

So we could / should either add some more player spawns, or add explicit CTF flag spawns, or add both. Maybe aim for 12 spawn points per map, or some

[2017-03-09 00:47] kaadmy commented on #73
Adding player spawns on remakes might wreak havoc to older players' playstyles, and might get a couple people killed if they stand in Pan's way :D

[2017-03-09 04:09] kaadmy commented on #90
Seconding jdolan.

[2017-03-09 12:18] #90 closed

[2017-03-09 12:28] jdolan commented on #85
So.. Bunker is a dude :P

Of the models above, after discussing with @Panjoo, the ones we still wish to adopt are:

 - [ ] Brianna - possible weapon tag issue (weapons are not offset right far enough)
 - [ ] Nitro - upper and head animation glitch, hopefully just an animation.cfg change

The rest are either lacking in quality, or are frankly too offensive (PMS and Crackho) to be included in the of

[2017-03-09 17:11] kaadmy opened #92 "Weapon model/skin tweaks"
Just a couple things that stood out while tweaking model alignment in third/first person.

- [ ] Lightning gun has a lower resolution skin than most other weapons
- [ ] Lightning gun doesn't appear to have a normal map, seems very flat
- [ ] Grenade launcher has tiny specular highlights, hardness has to be tuned down a bit
- [ ] Rocket launcher has tiny specular highlights, hardness has to be tune

[2017-03-09 17:35] jdolan commented on #92
* Ironically, the LG is one of the best looking weapons in the game in my opinion :)
 * Agreed that the 'nade could be rounder, and could use a normalmap, maybe even a material.

[2017-03-09 20:43] kaadmy commented on #61
This seems like a fairly simple one, is anybody available to get this done?
Having the blaster as the current sound is a bit confusing right now.

[2017-03-09 20:52] anthonywebb1 commented on #61
@kaadmy Hey, sorry it's taken so long, been a bit hectic changing jobs and moving house this year, I'll try to take a look at it over the weekend.

[2017-03-09 20:53] kaadmy commented on #61
Great :) Haven't seen you around for a while, so I figure you were busy with real life :D

[2017-03-09 20:55] anthonywebb1 commented on #61
Haha, yes it's been busy first with Christmas and then lots of life stuff this year, the sound stuff as gone to the back of my mind a bit, but it's about time to get back to it :)

[2017-03-10 04:12] kaadmy commented on #77
Made a few more changes to kaadmy/model_tweaks, take 'em out for a test run and tell me how they are now.

[2017-03-10 10:28] Panjoo commented on #30
@Buzzard-Bait
While I'm still immersed in photoshop making new normals for the map Lilith I thought I'd make this texture for Concrete dreams. As you can see in all of the above screenshots it's a prominent texture in this map.

TGA version-> http://panjoo.tastyspleen.net/quetoo/uploaded/dreams-tex-blumt2_6.zip
![blumt2_6](https://cloud.githubusercontent.com/assets/10857572/23791245/8ba83f26-0582-

[2017-03-10 13:07] jdolan commented on #77
Nice. Pretty good. I'm going to continue to nitpick :P Some of these will require editing the models..

 - [ ] Blaster large in both 1st and 3rd person view. It should be smaller than the other guns.
 - [ ] Shotgun sits a little high 1st person. Also slightly large. Should be smaller than RL.
 - [ ] Super shotgun is too fat / chunky 1st person (it's bigger than RL)
 - [ ] GL a smidgen low 1st pers

[2017-03-10 15:36] kaadmy commented on #77
I purposely made the BFG huge in first-person, otherwise there isn't much similar on it to _Big Fucking Gun_.
GL is also low in first-person, otherwise it filled a lot of the view since it's really wide, it looked to powerful compared to the other weapons.
I made HB a little smaller since it looked larger than RL in third person, didn't quite fit well.
SSG should be larger first-person than the SG

[2017-03-10 17:38] Buzzard-Bait commented on #30
Thank you @Panjoo. This is one that i hated so bad, the closest thing i could find that matched it was that yellowish green texture, and I really dont like it... This will be MUCH better to suit it than what I have on it now.

[2017-03-10 23:31] Paril commented on #73
Only team spawns. It won't mess with deathmatch spawns at all.

[2017-03-11 01:46] jdolan commented on #77
I pushed some changes to your branch, which included re-adding world.cfg's to "fix" a bunch of the weapons. Here are some screenshots I took with `cg_entity_bob 0`, `cg_entity_rotate 0`:

Before:
![broken-ish](https://cloud.githubusercontent.com/assets/643118/23819311/87877cd6-05d2-11e7-9e7f-e88bf16cca08.jpg)
![broken-ish-top](https://cloud.githubusercontent.com/assets/643118/23819313/8b87cdea-05d

[2017-03-11 20:38] kaadmy commented on #91
Is a helmet CVar needed? All the skins I've been doing don't use them, should they affect the head trim colors?

[2017-03-13 12:46] jdolan commented on #77
@kaadmy Did you want to re-export the weapons, or just go with my modified world.cfg's?

[2017-03-13 14:32] kaadmy commented on #77
I can reexport them so they're uniform, it shouldn't be much trouble.

[2017-03-13 14:43] jdolan commented on #77
👍

[2017-03-17 18:54] Panjoo commented on #84
^
This has been fixed and then some:)

https://github.com/jdolan/quetoo-data/commit/d656c3f27b30ba0de04750fcab17e863ebe8a3a5

[2017-03-17 19:03] jdolan commented on #84
Looks great!

[2017-03-17 19:03] #84 closed

[2017-03-17 23:18] #83 closed

[2017-03-18 22:57] anthonywebb1 commented on #61
Making progress on the g_hook, have the fire, pull and hit sounds done already... just to keep you in the loop it should hopefully be ready by next weekend.

[2017-03-19 21:39] Paril opened #94 "Special stain textures"
Now that stains support textures, I'd like to see some special textures for stains that we can use. I'm gonna make some dummy textures that you can use to test them in-game and hook them up to the individual effects. "stain_burn.tga" is the test texture for explosions and is hooked up to them currently.

The stains may need size adjustments as well - if you need to test stains with a larger size,

[2017-03-19 21:44] Paril commented on #76
Since these are done I'm gonna close this, and open a new ticket for the sounds.

[2017-03-19 21:44] #76 closed

[2017-03-19 21:45] Paril opened #95 "Tech sounds"
We need some sounds for the new CTF techs.
We already have dummy sounds hooked up and working in-game; see "default\sounds\tech".

* [x] haste.wav is played when firing a shot with Haste
* [x] pickup.wav is played when picked up a tech
* [x] regen.wav is played every ~1 sec when regenerating health
* [x] strength.wav is played when firing a shot with Strength
* [x] vampire.wav is played when healt

[2017-03-19 21:45] Paril commented on #61
Nice! Can't wait to hear them!

[2017-03-28 18:24] kaadmy opened #96 "Lavatomb Quake II logos and VIS"
Lavatomb has too many Quake II logos all over the place, they should probably be removed or replaced with a Quetoo logo.

I also noticed a problem (Probably VIS issue) on Lavatomb while recording some cinematic demos, there's a single missing face in a specific area (Crouch on the pillar in the screenshot, flying around that cave also has the same result)

![Screenshot](https://cdn.discordapp.com/

[2017-03-28 18:26] kaadmy commented on #96
CC @Panjoo

[2017-03-28 18:28] kaadmy opened #97 "Material warning on Trial"
No description is really needed...
[code]

[2017-03-29 23:46] Panjoo commented on #96
You're kidding me, you see a problem with those logos in a Quake2 tribute map?
 👎

Making them textures+normals was a considerable amount of work and they just belong in this map.
Now if I had a whole range of cool Quetoo logos and banners I would probably think about replacing some of them. Maybe.
At a later time I might edit some of the banner textures though, but not at this moment.

This VIS e

[2017-03-29 23:52] kaadmy commented on #96
I like the way the logos look, but directly using the Quake II logo in a game not endorsed etc by id or Bethesda isn't a good idea IMHO.

[2017-03-30 12:11] jdolan commented on #96
From a legal standpoint, the Quake2 logos will likely hurt us. It becomes [much] more problematic when we consider Steam. Valve has already asked for us to form a legal entity, and to inventory all of our licenses, so that they can review the legality of our project before they will grant us access to the distribution platform. It would be a liability for Valve to allow us to publish a game that i

[2017-03-30 12:11] jdolan commented on #96
CC @Paril

[2017-03-30 13:17] Paril commented on #96
We need to absolutely avoid any potential legal avenues if we are to
appease Valve. Quetoo logos would be better.

On Mar 29, 2017 7:52 PM, "KaadmY" <notifications@github.com> wrote:

[2017-03-30 13:31] Panjoo commented on #96
To be honest here, I never had any Steam dreams to begin with. I'm just not a big fan of the legal bs it brings. For instance some dork who has nothing to do with the project and isn't even a fan starts to whine about it on a Steam forum, and next thing you know we can scrap all dm remakes. And if that ever happens I'm going to quit, I guarantee you that.

Look at all the QuakeLive banners the map

[2017-03-30 13:34] Paril commented on #96
The skull and strogg wings aren't trademarked afaik so you are fine with
keeping those, it's only the Q2 logo itself that would be problematic.
Also, keep in mind that this only applies to the data we put in the initial
release; ain't nobody saying you can't use the Q2 logo in fan maps or
workshop content, which we could always nudge our users towards. We have a
lot of ways to avoid it, but for ou

[2017-03-30 13:45] jdolan commented on #96
Regarding Steam, to be perfectly honest: I won't be heartbroken if Quetoo never makes it there, either. It would be incredibly cool if it does -- I'd love to reach more players, and have a shipped Steam title on my resume. But even if it doesn't ultimately happen for legal reasons, we should continue to push for it as long and as hard as we can. Look at all of the traction we've gained in the comm

[2017-03-30 13:50] Paril commented on #96
Agree entirely. The Unix crowd really love it.

On Mar 30, 2017 9:46 AM, "Jay Dolan" <notifications@github.com> wrote:

[2017-03-31 20:37] Panjoo commented on #94
https://github.com/jdolan/quetoo-data/commit/77193ca54638ae16fa1ebb2d109ee730d51d2f91

[2017-03-31 20:40] Panjoo commented on #96
https://github.com/jdolan/quetoo-data/commit/3247cbf7d4a7d6d4ec4d004e9c55e48cf6175230

Both issues have been fixed. Closing.

I might as well do the same with the one Q2 logo in Slimyplace, dunno what to put there yet.
Thinking about stuff takes time:/

[2017-03-31 20:40] #96 closed

[2017-04-01 04:51] kaadmy opened #98 "Specular values"
I was messing around with Xonotic and trying to see how their specular looked, and apparently Quetoo's specular seems pretty much correct.

The problem is, it's _way_ too glossy, making everything look unlit and made of glass or something.

I tried to tune it a bit by changing the global CVars: `r_specular 0.3; r_specular 0.5`.

Before:

![Gotta enable images, did you really think this would work?

[2017-04-02 18:27] #61 closed

[2017-04-06 03:19] Paril opened #99 "Missing texture on lavatomb"
http://i.imgur.com/TMJ5EGd.png

[2017-04-06 17:34] Panjoo commented on #99
Yeah that was the Quake2 logo that had to be taken out, forgot to remove it from the material file.

[2017-04-06 18:28] Panjoo commented on #99
Fixed.

[2017-04-06 18:28] #99 closed

[2017-04-21 13:33] TenaciousTigerTrumpets commented on #98
This is just a brainfart, but I think what would make the specular potentially look better is to somehow approximate ambient specular. Perhaps there could be a low energy specular that is "smeared" across the entire hemisphere. It you picmip to some average value then there's a lot of areas where you only get the specular when you're at the "correct" angle to see it. But that's not very realistic,

[2017-04-21 13:42] TenaciousTigerTrumpets opened #100 "Aerowalk Jumppad Sound"
When I try to keep bouncing up and down on the jumppad in Aerowalk, it only plays the sound every second time.

[2017-04-22 02:23] kaadmy commented on #100
Hm, can reproduce this. It isn't tied to a timer to trigger every other time, it just seems that the sound is too long and it won't play ambient sounds until the same sound has finished first.

[2017-04-29 09:57] Paril opened #101 "Hook up footsteps"
We now have a few sets of footstep material sounds; we should try to hook these up to existing maps where appropriate (snow patches on Fractures, glass floors on wake, metal stuff, etc).

See edge.mat for an example of this, since it uses the grass one already.

[2017-05-02 18:38] Panjoo commented on #101
Noted!

[2017-05-07 22:16] kaadmy commented on #95
I think the pickup sounds are done for techs now, correct?

[2017-05-08 04:56] anthonywebb1 commented on #95
Yes, that should be all of them done now.

Sent from my iPhone

On 7 May 2017, at 23:16, KaadmY <notifications@github.com<mailto:notifications@github.com>> wrote:

I think the pickup sounds are done for techs now, correct?

—
You are receiving this because you were assigned.
Reply to this email directly, view it on GitHub<https://github.com/jdolan/quetoo-data/issues/95#issuecomment-299739059>, or

[2017-05-12 21:46] Paril opened #102 "PVS issue on Edge in sewer"
https://gfycat.com/MaleBlushingEyas

In the sewer entrance on Edge, the brushes below the water have some PVS issues. We likely didn't notice this before because the sky wasn't rendered all the time, but now that it is.. you can see that it's not being marked as visible or something.

[2017-05-13 15:25] Paril opened #103 "Lightmaps wrong on mingw32"
https://gm1.ggpht.com/NsFLUjMST8DmwVMe4BcUCnmD30lkKSUZFHQ9Q3s6-484zoyPNV3QdYRvcEJYxkSsSUEwi0Nil0ICOk5aXUS-LLzGT2wpBcfbvv8jz2F865pYvnA5izNJE9HmuwTmzoNuF5F2XMPUDEyJcYfuG3-FG186Mvu62XEPe1f9ncsSdihVaKWia29Rb003cojR7UBix17SNMde7U3155ph7a-EXb_fm81Ivn0k8vfv44sJaMZRuGC52cmlc5OZ1NH1sD9lZDdvkQoR2f_fQyc1wHFqQX1A3E-_sCMZZjubHKVlZgpIpleuqecIaGgBUp724qFQMa8ooU7eqgYcziSAUsv7WZsKMis0G4V_EGT3SnUZm_Ki9jE1UdEDnS3YiJ

[2017-05-13 16:43] Panjoo commented on #103
Okay, this is with r_draw_bsp_lights 1 and the errors show up there as you can see;

![quetoo067](https://cloud.githubusercontent.com/assets/10857572/26027214/4a1cafb4-380a-11e7-89d0-d987b57a1eec.jpg)

It's nothing I haven't seen before when it comes to lighting bugs, but it's strange that this wasn't there and suddenly pops up.
I already tried some things like making new lights and moving them ar

[2017-05-13 16:45] Panjoo commented on #52
One or two files might have slipped through but this is mostly all been taken care of.
Phew!!

[2017-05-13 16:45] #52 closed

[2017-05-13 17:31] kaadmy commented on #103
Is there a light inside geometry there?

[2017-05-13 17:58] Paril commented on #103
Had you updated your grunt.bsp at all or is it the same one in master? I can't reproduce these issues there. It looks more like it's using the wrong piece of the lightmap for that surface rather than the lightmap itself being corrupt. Are you loading any other maps before this one?

Can you load into map grunt immediately after launching, do r_dump_images, then attach the lightmap files that are g

[2017-05-13 18:21] Paril commented on #103
This is related to mingw build. :(

[2017-05-13 18:22] Paril commented on #103
![lightmap 0](https://cloud.githubusercontent.com/assets/1224734/26028100/8ecc4a34-37e7-11e7-900c-826f6ec12f35.png)

[2017-05-13 18:41] Panjoo commented on #103
@Paril, ^Yep, the generated _lightmap 0.png_ looks the same as the one above, with the larger black area.
Lol, I never knew a lightmap looked like this, kinda cool actually. I did check out some other maps and Grunt seems the only one that shows this problem.

@Kaadmy, nope there are no lights inside geometry, it was all fine before. To see if it was maybe a map error I did some tests (locally), p

[2017-05-13 18:44] Paril commented on #103
@panjoo the issue is limited to the mingw build, which is why we never noticed it. It may be a regression from jdolan updating the build tools. I'll figure this one out today. Also: that's just how Quetoo turns the light map into a texture, the light map is actually entirely 1 dimensional in the BSP, which is even cooler (its a long string of data rather than a rectangle like ours).

[2017-05-13 18:52] kaadmy commented on #103
@Paril well technically all images (PNG, TGA, etc) are all 1d ;)

[2017-05-14 13:50] Paril commented on #103
Fixed in latest commit.

[2017-05-14 13:50] #103 closed

[2017-05-14 13:54] jdolan commented on #103
Crazy.

So what happened here, @Panjoo, is that before @Paril merged his OpenAL changes into master, I did some routine maintenance on the build machine, to ensure that it had the OpenAL and libVorbis libraries installed etc -- so that the build would succeed.

Part of that routine maintenance was updating the tool chain (the C compiler and other standard things). For whatever reason, the new vers

[2017-05-14 17:56] Panjoo commented on #103
Wow dudes, good work finding the problem. Why does everything has to be so complicated, ugh!

I found it was also screwing with Warehouse's lightmap. The bastard!
![badlightmap](https://cloud.githubusercontent.com/assets/10857572/26036481/c3e7507c-38de-11e7-8a86-6891b40ec4b9.jpg)

[2017-05-31 16:11] jar3817 opened #104 "Gym error - BSP leaf 0 not solid"
Loading map gym in either local server or dedicated server triggers an error with the contents of leaf[0]. Dedicated servers will then sit there consuming 100% CPU. The CPU usage stays normal on Windows 7, but on Fedora and Debian dedicated servers the CPU goes through the roof.

[code]

[2017-05-31 23:11] Panjoo commented on #104
Yes, the map suddenly won't load anymore and trying to load it up the second time crashes the game.

![nuthercrash](https://cloud.githubusercontent.com/assets/10857572/26657891/037ee278-4667-11e7-9d0e-33facf062a03.jpg)

FATALITY!

[2017-05-31 23:53] jdolan commented on #104
Paril somehow introduced a corrupted BSP when he fixed the material file. I've rebaked the map, and it runs fine. It's been pushed up to the data repo.

[2017-05-31 23:53] #104 closed

[2017-06-01 00:48] Paril commented on #104
Huh.. Did it transfer as ASCII or something? Weird

On May 31, 2017 7:53 PM, "Jay Dolan" <notifications@github.com> wrote:

[2017-06-02 19:36] kaadmy opened #105 "Quake 2 logo on Fragpipe and Edge"
On Fragpipe, the central atrium's upper level has a (partial) Quake 2 logo on it. This should probably be replaced with a Quetoo logo or something.

**Edit:** the same logo is on the large crates on Edge too.

[2017-06-02 23:30] Panjoo commented on #105
That's not the trademarked quake2 logo, it's a subtle hint at the logo. Sigh:/

Provide me textures that are of equal quality and fit perfectly in these maps and I'll consider changing them.

[2017-06-03 01:15] kaadmy commented on #105
I _did_ say they were partial logos ;)
I'll try remaking them anyway just for practice.

[2017-06-03 02:56] kaadmy commented on #105
So I just spent about half hour trying to get GIMP normalmaps to work correctly :|

[2017-06-06 16:17] kaadmy opened #106 "Notification feed icons"
If jdolan/quetoo#487 gets merged, we'll need some icons for the notification feed.

Icons are all 32x32.

List of death types (the weapon icons that already exist look good, but would look much better scaled down half size to 32x32 due to texture filtering):

- [x] Generic death (X icon?)
- [x] Blaster
- [x] Shotgun
- [x] Super Shotgun
- [x] Machinegun
- [x] Grenade Launcher (A custom hand grenade

[2017-06-06 18:06] kaadmy commented on #95
Um, this should be closed..?

[2017-06-06 18:10] kaadmy commented on #86
There's a cvar now for this: `cg_draw_blend_liquid`, should this be closed?

[2017-06-06 18:15] kaadmy commented on #77
With @Panjoo's current tweaks in master, is this finished now or does it need more polishing still?

[2017-06-06 18:16] kaadmy commented on #74
Is this issue relevant anymore?

[2017-06-06 18:18] kaadmy commented on #62
I believe this is finished now? Closing.

[2017-06-06 18:18] #62 closed

[2017-06-06 18:35] anthonywebb1 commented on #62
Yes I have done those sounds :)

________________________________
From: KaadmY <notifications@github.com>
Sent: 06 June 2017 19:18
To: jdolan/quetoo-data
Cc: anthonywebb1; Mention
Subject: Re: [jdolan/quetoo-data] Updated jump sounds that include player grunt (#62)

I believe this is finished now? Closing.

—
You are receiving this because you were mentioned.
Reply to this email directly, view it

[2017-06-06 19:05] jdolan commented on #74
Isn't it? I don't believe we have tint maps for each model. We also don't yet have the menu modifications to manipulate the tint map in master, either.

[2017-06-06 19:06] jdolan commented on #77
Sure.

[2017-06-06 19:06] #77 closed

[2017-06-06 19:06] kaadmy commented on #74
Key word: in master
_KaadmY runs_

I think all player models except Bunker have tints now.

[2017-06-06 19:07] jdolan commented on #86
If you want to lift the above discussion into a new issue, sure this one can be closed. Otherwise, I'd prefer to leave it open, as there's an interesting feature described above that I don't want to lose track of.

[2017-06-06 19:08] kaadmy commented on #86
Sure, I'll just rename this issue instead.

[2017-07-16 18:10] Panjoo commented on #106
@kaadmy
Okay I made a bunch of notification icons. They should look alright on both bright and dark backgrounds.
As you can see I left out the square borders that are normally used on the Hud icons because at 32x32 it only takes up space.
I tried to keep things as simple as possible and easy to see. It certainly took a while to come up with an idea for some of the icons but I think what I got so f

[2017-07-16 18:20] kaadmy commented on #106
Those all look great, the only ones that stand out are the capture icons (I was thinking just have a capture icon for each of the 4 flags, but this might work better)
Flag dropped might be better with a down arrow overlaid on the flag, similar to the flag return icons.

[2017-07-16 18:27] jdolan commented on #106
Those look awesome. So does that font.. someday I'll rewrite the client console with ObjectivelyMVC so that we can use true type fonts..

[2017-07-16 18:29] jdolan commented on #106
Oh, and on the flag icons, I think these are cool, but if the capturing team color is too much, we could always just have a white circle around the captured flag for all other teams.

[2017-07-16 18:30] kaadmy commented on #106
Is that font Coda?

[2017-07-16 18:30] jdolan commented on #106
It looks like Coda, yea.

[2017-07-16 18:32] kaadmy commented on #106
Is the shading on the Blaster icon intentional?

[2017-07-16 19:45] Panjoo commented on #106
Yep, coda font it is;) The shading on Blaster is intentional because it was a white color, but it can be changed of course.
Personally I think the flagdrop outline icon is okay, like; the flag's gone all that's left is the contour.
Although adding a down arrow might also work.

That's not a bad idea but the way it is now you don't have to look at the colored name pre-fix to see which team captured

[2017-08-27 21:31] #105 closed

[2017-09-02 12:27] jdolan opened #107 "Gehenna minor bugs"
- [x] Thunder sound sample is stereo, and a warning prints when it is mixed in game
- [x] Outer teleporter still has `SURF_WARP`, whereas the inner teleporter does not. The inner teleporter looks much better.

[2017-09-02 12:44] jdolan commented on #97
There's a different, new error on Trial now:

[code]

Maybe a `.blend` texture from Trak5 simply didn't get bundled previously?

This is affects the neat little decoration beneath all of the pickup items, so we should try to fix this soon.

[2017-09-02 12:47] jdolan commented on #98
I'm not really sure what to do with this ticket. The way I see it, we could:

1) Tediously rewrite all of our materials files, and re-zip each map.
2) Change the default `r_specular` cvar value to `0.5`.
3) Do nothing, just live with it.

Option 2 is the most pragmatic, but I'd like to get @Panjoo 's input before we consider any action.

[2017-09-02 12:52] jdolan commented on #95
Yes, I hear these in game now. SWEEEEET.

[2017-09-02 12:52] #95 closed

[2017-09-02 12:52] #94 closed

[2017-09-02 12:59] jdolan commented on #91
Can we get a status update on this? Are Guard and QForcer supported? What about Bunker, Dragoon and Gork? In the near future, I'd love to add Nitro and Brianna as well.

[2017-09-02 13:00] jdolan commented on #91
Also, we should update the pk3's for our models to _only_ include the `"default"` tint-enabled skin. That means the skin select in the user interface need only concern itself with model names, and the tint controls will work across the board.

[2017-09-02 13:04] jdolan commented on #85
This issue is now somewhat related to #91 in that any models we merge in will require *only* a tintmap-enabled skin.

We could also use some unique sound packs for some of these models. QForcer, and even Bunker are fine with the default sounds. But Dragoon, Guard and certainly Brianna will require a lighter male sound set, and a female sound set.

I actually have a friend who could voice some fema

[2017-09-02 13:06] #74 closed

[2017-09-02 20:29] kaadmy commented on #74
Bunker doesn't have tints yet, I didn't add them because I noticed the readme for Bunker (as well as all  other models!) says you CANNOT modify it.

[2017-09-02 20:29] kaadmy commented on #85
Gork has custom sounds, they aren't used though for some reason.

[2017-09-02 20:30] kaadmy commented on #91
Having a skin selection would be nice for some more variety, removing them and keeping only the default is probably good enough though.

[2017-09-25 19:37] jdolan commented on #92
@Panjoo What do you think of @Buzzard-Bait redoing the GL? It's always been an outlier in terms of its shape. It's been difficult to scale correctly in relation to the other weapons. It takes up a lot of the screen when active, etc. He is shopping his resume around and could use a new portfolio piece..

[2017-09-28 23:25] Panjoo commented on #92
I think there are questionable design choices in all weapons (but not too bad) so I never had the feeling that the GL didn't fit in with the rest. Okay it is wider than the other stuff, but it is also instantly recognizable and looks like it could actually hold and launch a couple of those round pineapples.
It does kinda stink that I already put a buttload of hours into that model making it error

[2017-09-29 03:43] Buzzard-Bait commented on #92
either way, it would be a portfolio piece. And im not so sure on it. but an
error free mesh with a proper normal is no problem as i have learned quite
a bit in my absence. Even if it isnt on a level of detail that would be
accepted i would love to have your opinion on it Panjoo. I have about half
of it done at the moment. If its not used its not used. iv had a hard time
coming up with a design tha

[2017-09-29 20:22] Panjoo commented on #92
I see what you mean. There are some things that hold true for mapmaking as well as modeling. It's easy and tempting to get lost in the details, so watch out for that until you're certain that you're going to keep them.

Also don't hesitate to delete or thow away big chunks of the model if you feel you get a "writer's block".
I've had this happen so many times when building maps. Then I design a ma

[2017-09-29 20:35] Buzzard-Bait commented on #92
Oh for sure, makes perfect sense. Iv had to do the same with things that i
have worked on. it really does suck, and i probably drag on the decision
more than i should of ditching what i think looks cool in place of fun game
flow or just all together working with everything else around it. Thats
probably the hardest call i ever make doing 3d stuff. and i suck at calling
it as well lol. THERE HAS TO

[2017-09-29 21:17] jdolan commented on #92
I love seeing this kind of back and forth here :)

[2017-09-30 11:52] Buzzard-Bait commented on #92
![base profile 09 30 2017 - 07 42 45 09](https://user-images.githubusercontent.com/25470615/31045523-94e2c008-a5b3-11e7-9745-89fb26402f66.png)
![gl](https://user-images.githubusercontent.com/25470615/31045536-d074ae88-a5b3-11e7-9940-e6ac861c7dc8.jpg)

[2017-09-30 11:53] Buzzard-Bait commented on #92
still tweaking the view alignment but where it is there the grenade looks as if it comes out from the right area. glows green in the port holes on that side piece. not sure if thats the best way to go honestly but am open for any opinions

[2017-09-30 12:17] Buzzard-Bait commented on #92
[grenadelauncher.zip](https://github.com/jdolan/quetoo-data/files/1346387/grenadelauncher.zip)

[2017-09-30 12:17] Buzzard-Bait commented on #92
forgot to add that. guess that would help as well lol

[2017-09-30 17:58] kaadmy commented on #92
Maybe move the GL down and back very slightly, right now it's pretty big in the view.

[2017-09-30 18:39] Buzzard-Bait commented on #92
Did it matches better now need to upload new zip

On Sep 30, 2017 1:58 PM, "KaadmY" <notifications@github.com> wrote:

[2017-09-30 19:45] Buzzard-Bait commented on #92
[GL_viewcfg_update.zip](https://github.com/jdolan/quetoo-data/files/1346720/GL_viewcfg_update.zip)

[2017-09-30 22:49] Panjoo commented on #92
Now that's starting to look like something, the blender render is sweet.
Although from the side the profile reminded me of an old cannon, a vacuumcleaner and a vintage blow dryer:) Not that that's bad or anything because I think it's actually a funny design.
![cannonvacudryer](https://user-images.githubusercontent.com/10857572/31049924-7d99034a-a63e-11e7-9ba5-312d0d20e0b4.jpg)

I do think the ammo

[2017-09-30 23:26] Buzzard-Bait commented on #92
Yeah i like that much better how you have it there. i will try go back to
that and rework it, see what happens. most likely something very similar to
what you have going on there. im digging that

<http://www.avg.com/email-signature?utm_medium=email&utm_source=link&utm_campaign=sig-email&utm_content=webmail>
Virus-free.
www.avg.com
<http://www.avg.com/email-signature?utm_medium=email&utm_source=li

[2017-10-01 01:47] kaadmy commented on #92
@Buzzard-Bait BTW your email has antivirus stuff in it...

[2017-10-01 01:54] Buzzard-Bait commented on #92
yes iv seen... lol

[2017-11-05 22:47] Panjoo commented on #98
Apparently some things have already been played with? I was exprimenting with the cl_editor and loaded up aerowalk. Odd that I didn't really notice this sooner, but I'm not too happy with this butt ugly over-exposure effect:
![ugly1](https://user-images.githubusercontent.com/10857572/32419757-94bcada8-c27f-11e7-84a7-7989a40380fe.jpg)
![ugly2](https://user-images.githubusercontent.com/10857572/3241

[2017-11-05 22:51] kaadmy commented on #98
I was talking about Quetoo when I said specular looked wrong, but it definitely looks a bit more washed out now with the new shader changes. Since the shaders now seems changed for the better most of the time I might say the current material values are out of whack and might look better with some tweaks.

[2017-11-05 22:57] jdolan commented on #98
Void-995 has been working on our shaders, and he's made some notable improvements to the accuracy of the lighting model. He's also pointed out some issues in quemap, and is working on implementing a more modern radiosity.

As @kaadmy said, his changes will require tweaks to some maps (especially once radiosity is in place). For the most part, I think it'll be setting global light scale parameters

[2017-11-06 01:36] Paril commented on #98
A lot of our code for specular/bump was entirely wrong, so Void had fixed that. Things look like they should if the code was written properly, and we consolidated a few things. We were always looking at a result that was calculated wrong, especially in the case of a texture having no bumpmap as specular didn't affect them at all.

@Panjoo the concept is that the textures (normal map, specular map

[2017-11-26 13:03] ptrvrhvn commented on #21
Feel free to assign me.

[2017-11-27 11:52] jdolan commented on #21
Done! :)

[2017-12-03 01:37] Buzzard-Bait commented on #92
![image](https://user-images.githubusercontent.com/25470615/33521475-9a8fda9e-d7a0-11e7-9121-abf3a297ef91.png)
![quetoo071](https://user-images.githubusercontent.com/25470615/33521478-a2a7ba6c-d7a0-11e7-8930-b1e6f33bb942.png)

[2017-12-03 01:38] Buzzard-Bait commented on #92
got some free time finally! went with about 99% of panjoo's suggestion as i just like the shape of the center better this way.

[2017-12-03 03:17] Buzzard-Bait commented on #92
[grenadelauncher.zip](https://github.com/jdolan/quetoo-data/files/1524463/grenadelauncher.zip)

[2017-12-05 23:17] Panjoo commented on #92
The weapon looks very good this way, I like how you actually extruded the gear-shape inward.

Only thing that doesn't look super yet is the glow_skin as it's too sharp and strong. I would suggest using softer blurred dots and maybe even decrease their opacity to make the lights more subtle. Same with the circle.

[2017-12-06 01:00] Buzzard-Bait commented on #92
can do, you think a blur filter and lowering the opacity would work? or
just go back over it?

<http://www.avg.com/email-signature?utm_medium=email&utm_source=link&utm_campaign=sig-email&utm_content=webmail>
Virus-free.
www.avg.com
<http://www.avg.com/email-signature?utm_medium=email&utm_source=link&utm_campaign=sig-email&utm_content=webmail>
<#DAB4FAD8-2DD7-40BB-A1B8-4E2AA1F9FDF2>

On Tue, Dec 5,

[2017-12-06 01:00] Buzzard-Bait commented on #92
opacity of the layer that is

On Tue, Dec 5, 2017 at 8:00 PM, Matt Jarrett <mjarrett1985@gmail.com> wrote:

[2017-12-06 01:32] Panjoo commented on #92
I think that would work, just add a black layer underneath and lower opacity after blurring.
But best would probably be to also make the circle less thick, easier to just do it again I guess.
(I'm offline for now, TTYL)

[2017-12-06 03:03] Buzzard-Bait commented on #92
alrighty, ill tinker with it and see what happens

<http://www.avg.com/email-signature?utm_medium=email&utm_source=link&utm_campaign=sig-email&utm_content=webmail>
Virus-free.
www.avg.com
<http://www.avg.com/email-signature?utm_medium=email&utm_source=link&utm_campaign=sig-email&utm_content=webmail>
<#DAB4FAD8-2DD7-40BB-A1B8-4E2AA1F9FDF2>

On Tue, Dec 5, 2017 at 8:32 PM, Panjoo <notifications@gith

[2017-12-15 17:00] SpineyPete opened #108 "Changes to Lighting / Shaders / Textures"
This discussion is going to pop up sooner or later so I might as well throw it out here.

With the recent shader updates the maps look different than they used to. Obviously is an issue for mappers whose carefully crafted maps suddenly look different than they intended.

At the there's the question of modernizing the reflectance model, antialiasing of specular highlights, etc. I'm not sure what pe

[2017-12-15 17:42] jdolan commented on #108
Good topics, worth of discussion.

I think that, if and when we do decide to modify the lighting model in such a way that maps look different, we should (at least moving forward) have a plan in place for update the existing maps, and some owners identified around who will do that work.

It's not fair for a developer to change something, and then leave it up to the map author to retrofit their fini

[2017-12-15 18:21] ptrvrhvn commented on #108
* What would the ideal texture density be for new maps? For the version of Aggressor I'm working on I decided to go for 1024px scaled at 0.125 everywhere.  I remember Unreal Tournament 2003 using primarily 1024px textures 15 years ago so I'm sure that's reasonable. That said, I could settle for 512px which is less of a far cry from the current maps.

* Just an idea I've been having: a lot of maps

[2017-12-15 18:24] jdolan commented on #108
Creating a couple big `quetoo-001.pk3` or `quetoo-002.pk3` files containing common textures would be fine. We could then update `quemap -zip` to optionally _not_ include assets that are located in other .pk3 files. That way, when you're packaging up a map that uses things from e.g. `quetoo-001.pk3`, it doesn't duplicate them.

[2017-12-15 20:44] Panjoo commented on #108
I've always prefered 512x512. And even if you only have good 256x256 or 256x512 etc. textures you can still make them look much better with the added normalmaps/bumpmaps.

Personally I'm not a fan of 1024 sized textures and then having to scale them down by 4. The combination of the relatively low poly brushwork and high resolution textures makes it look more fake instead of better, at least that'

[2017-12-16 15:48] ptrvrhvn commented on #108
512 looks fine, imo. I'll just make my textures in 1024, release those as CC and downscale to 512 for the game. I do think the 256 ones look a bit dated though, not gonna lie.

Actually, the reason I'm tending towards the higher level is that I've seen so many godawful retexturing projects, lol. High res textures are easier to screw up.

Here's something which would make me feel good though: if at

[2017-12-16 15:49] ptrvrhvn commented on #108
Whoops.

[2017-12-16 16:59] void-995 commented on #108
Personally, I would prefer not to rescale it back, 1024 kind of fine. It's all mater of resolution of the screen.

If we will bring topic about "how pro players are playing" then it would be better to throw out all textures, make walls grey and floors orange with green player models. Without lighting at all.

Half-Life textures (128x128) were fine too when I played it at 640x480. Now people are do

[2017-12-16 17:04] ptrvrhvn commented on #108
As a compromise, we could just ship the game with the medium-res textures, and provide an optional package containing high-res textures for the people who want it? (Could work like jdolan mentioned above with the quetoo-001.pkg etc).

[2017-12-16 17:33] void-995 commented on #108
And as for low-end PCs there are options to turn texture quality down (r_picmip 1 and r_picmip 2), while let's say realistically - the lowest you should target today is GeForce 8600 GTS which can eat that in no time, especially when we will bring BC1 and BC3 to the tablet (DXT1 and DXT5). And the most low end GPU that people are talking about is GeForce 450 GTS or even GeForce 660 GTS. You need to

[2017-12-16 19:19] kaadmy commented on #108
Nowadays texture resolution isn't a performance loss at all, just video memory, which is a problem with IGPUs and low end mobile GPUs.

If we have the base game use low res (256x256 or 512x512) and have a separate HD texture pack, then our current maps will all need new textures anyway.

Just my two cents.

[2017-12-17 23:31] Panjoo commented on #108
Let's forget about the technical side for a moment and the _presumption_ that everyone interested in quetoo will have 26" or sick 4K screens and still get get 500 fps on their vidcards...
For every map that I've made so far I basicly had to scrape together whatever texture I needed to create a certain environment or theme and what I didn't find I had to create myself. (And then I'm not even talkin

[2018-01-29 23:55] ptrvrhvn commented on #106
I quickly made the remaining ones. Thoughts? I used to some shading to make them more readable on different colored backgrounds. The white ones kind of require it, the others not so much. They're all from https://thenounproject.com/, which is CC-BY

![icons](https://user-images.githubusercontent.com/28701157/35540833-22107b74-0558-11e8-90cd-5149530c45c9.png)

[2018-01-30 00:18] jdolan commented on #106
Act of god fits nicely for telefrags :) @kaadmy Do you still have interest in wiring all of these up? @ptrvrhvn do you mind cutting your new ones up and pushing them to target/default/icons/notifications?

[2018-01-30 00:43] ptrvrhvn commented on #106
@jdolan done :)

[2018-01-30 00:51] ptrvrhvn commented on #107
The sound was already fixed apparently. I fixed the teleporter.
f93ab48c33c0cb2d3a887e6f4bfb117be08f973a

[2018-01-30 12:34] jdolan commented on #107
Thanks for fixing the teleporter, @ptrvrhvn

I noticed a bunch of other bugs just now on the map. I checked to make sure I didn't have any stale materials files or BSPs floating around.

![quetoo001](https://user-images.githubusercontent.com/643118/35566552-d11dcaae-058f-11e8-99c8-9c4d981292f6.png)

Standing near the two teleporters, a loud, high pitched hissing sound is heard. This can't be on pu

[2018-01-30 12:37] jdolan commented on #92
CC @ptrvrhvn here's @Buzzard-Bait 's GL, if you wouldn't mind getting 'er into git :)

[2018-01-30 12:43] ptrvrhvn commented on #107
Oh wow, not sure how I missed those things, it was getting late I guess.
I just opened the map, made the change and ran Quemap with -zip. I'll look into it.

[2018-01-30 17:39] ptrvrhvn commented on #88
I've done a first pass at them, haven't tested exhaustively but they sound decent enough to me.
I just overwrote the default ones to test, since otherwise it didn't seem to work? Haven't looked into it any further :)

[2018-01-30 17:53] jdolan commented on #88
Sick! Nice one @ptrvrhvn. We should try to bundle these up into `player-guard.pk3` (and then figure out why the game is too dumb to play them from there). I think we might also need a README or something to credit Brian Watts (ShadowsFate) for these sounds. I'll take that on. @Paril since you were so hot to get these, do you think you'd have time to get them working from the correct location?

[2018-01-30 22:11] ptrvrhvn commented on #91
@Paril

I noticed some hard seams on the edges of my bunker tintmaps. But it's also on the other skins, I think it's due to the branching in the shader. Also, the tintmaps are supposed to use premultiplied alpha, but the formula in the shader seems to be more of an alpha blending thing?

[code]

![tintmaps](https://user-images.githubusercontent.com/28701157/35593746-0a972092-0611-11e8-81d8-792b894

[2018-02-01 15:42] jdolan commented on #107
The `func_door_rotating` (the big oil drill outside) is blowing out `MAX_ENT_LEAFS`. If you `debug collision` while running around the map, as soon as that puppy moves, you'll see this message. We may need to simplify the area around the oil driller, or shrink the pump in size, or consider increasing `MAX_ENT_LEAFS`.

[2018-02-09 01:42] jdolan commented on #92
@Buzzard-Bait GL is now in -- thank you for this!

[2018-02-09 01:57] jdolan commented on #88
It looks like maybe when extracting client loading into the cgame, we forgot to either bring over, or expose, model-specific sound sample loading.

`S_LoadModelSamples` exists but is never called. Cgame exposes `cgi.LoadSample` but not `cgi.LoadModelSample`. Looks like we just need to move a few things around and call the right function for these sounds to work.

The `player-guard.pk3` has been up

[2018-02-11 12:37] jdolan opened #109 "Quake amalgamation DM map"
Just kicking this idea around.. what if we took all 6 Quake1 DM levels and smooshed them together into a single, massive map? Minor amputations would probably have to be made to connect them (using the original map exits where possible, but other connections would be required for proper flow). But we could pack a ridiculous Quake nostalgia shot into one level if done well. This would also draw a _

[2018-02-11 12:40] SpineyPete commented on #109
Haha, I like it. Should probably fix up the maps individually first, they they'll be easy to glue together.

[2018-02-21 12:52] jdolan commented on #108
Agreed, @Panjoo. I think the maps that are complete thus far look great with 512x, and I don't think retexturing them any higher is feasible or honestly even worth the effort.

New maps / Quake1 remakes using Rygel can use 1024 if they are available. Those maps are so low in terms of poly count, that the higher res textures kind of help them blend in with the rest of our maps. As an example, the l

[2018-02-21 12:57] jdolan commented on #92
@kaadmy @Buzzard-Bait How do we feel about a new hand grenade model that's more round and with a red pulse via material? I'm basically thinking of the thermal detonator from Star Wars:

![thermal_detonator_dice](https://user-images.githubusercontent.com/643118/36481145-e9470b50-16dc-11e8-9e3e-63b6bc051f46.png)

[2018-02-21 12:58] jdolan commented on #92
If the glow is green, that sort of ties it together with the weapon / ammo icon that we have for it..

[2018-02-21 16:12] SpineyPete commented on #98
Is this still an issue? The maps look mostly fine imo.

[2018-02-21 16:17] SpineyPete commented on #65
The current metal footstep sounds sound great but also very hollow. I think the default should sound more like erh... that library sound you hear in like every freaking game, and the current one should be a special case for bridges and walkways and such?

[2018-02-21 16:33] SpineyPete commented on #92
Gotta be honest for a second, I have two issues with the current grenade launcher.

One of my pet peeves in scifi design is the urge to put leds in all kinds of places where they really don't make any practical sense. On the nade launcher it's alright, but still enough to trigger me :P

- The leds on the nade launcher I dislike the green color of the lights at the moment, it stands out too much. Y

[2018-02-21 16:48] jdolan commented on #98
I think Aerowalk looks pretty good. The small 16x16 blue floor lights are not quite bright enough anymore imo, but the overall lighting looks acceptable. Looking forward to seeing this puppy with HDR and indirect lighting!

[2018-02-21 16:49] jdolan commented on #65
It'd be nice to have a simple test map that has all of our supported floor types mixed, so that we could easily test these sounds together.

[2018-02-21 16:51] SpineyPete commented on #98
Yeah I **did** scale down the surface lights since they looked too bright, but I might have overdone (underdone?) it. The thing is though, those overexposed bits near the top were mostly due to surface light, not due to sunlight (in fact, toggling sunlight did literally nothing to those areas).

[2018-02-21 16:52] SpineyPete commented on #65
We could put some of those testing things in the sandbox map?

[2018-02-21 16:53] jdolan commented on #92
I hear you. The green LEDs were added because the icon for the GL / grenades is also green, and we have several other weapons in the yellow / orange family (all bullet weapons). So, a nod towards green to make sense of the color coding that existed in the game seemed right.

The old model was actually done by TRaK, and then improved by Pan, if memory serves me well. And agreed that it was a cool a

[2018-02-21 16:55] jdolan commented on #98
That's weird, because surface lights have an exponential attenuation in quemap, where point lights are linear. So, you would think, that surface lights wouldn't bleed too far across large areas like that.

Maybe a better way to handle them would be with point lights or even small spot lights. We could also consider adding those cute little "light volumes" we have on Trial by Error.

[2018-02-21 18:21] jdolan commented on #65
Yep!

[2018-02-23 18:18] jdolan commented on #91
- [ ] Bunker's tintmap (shirt, pants, helmet (maybe eyes instead for giggles?))
 - [ ] Qforcer's tintmap (shirt, pants (instead of boots), and helmet)

[2018-02-23 18:21] jdolan commented on #107
The jump pads have the yellow effect stage, but it is not animated with `stretch`. See Aerowalk's materials file for the same effect.

[2018-03-01 04:08] kaadmy commented on #64
Isn't this closed now? I'm not sure if the map titles are actually fixed now but the relevant branches are merged/deleted by now.

[2018-03-01 04:10] kaadmy commented on #88
Should this issue be closed and open a new issue relevant to custom model sounds?

[2018-03-01 08:45] jdolan commented on #64
They're mostly fine. I think Aerowalk has red and yellow text, yet should probably be blue / indigo / white.

[2018-03-01 08:46] jdolan commented on #88
Up to @Paril. However he wants to track it.

[2018-03-01 18:40] kaadmy commented on #107
I didn't notice any of these problems anymore, I think the only thing I didn't check was the oil drill.

[2018-03-01 18:43] jdolan commented on #107
It's worth re-checking the oil drill. I pushed a fix for Sv_LinkEntity last night that could affect it.

[2018-03-04 13:04] jdolan commented on #107
I fixed this (same error on Pits and probably other maps) by increasing MAX_ENT_LEAFS and MAX_ENT_CLUSTERS. All set!

[2018-03-04 13:04] #107 closed

[2018-03-04 13:07] jdolan commented on #98
I'm going to close this issue out. All maps will need tuning for the indirect lighting stuff coming in Void's branch. We can revisit Aerowalk specifically then. #108 will be the place to address all of that.

[2018-03-04 13:07] #98 closed

[2018-03-04 13:09] jdolan commented on #106
@kaadmy It looks like you're moving forward in your HUD branch, and you likely have all of the notification icons that you need (?) Can we close this issue out?

[2018-03-04 15:47] kaadmy commented on #106
I think this is done now, although if it's easy, 64x64 notifications might be nice to have since 32x32 looks a bit small and won't look crisp on Retina/high-DPI displays.
Feel free to close this out since it's functional now.

[2018-03-04 19:47] kaadmy commented on #64
@Panjoo thoughts on map title colors? If you don't have a preference I'll change Aerowalk's title per @jdolan's and close this issue.

[2018-03-04 21:24] #106 closed

[2019-01-21 16:17] jdolan commented on #28
@Panjoo nailed this one 8)

[2019-01-21 16:17] #28 closed

[2019-01-21 16:22] SpineyPete commented on #28
It's one of my fav ones for sure!

[2020-11-02 03:13] jdolan commented on #108
So.. 3 years later, we finally have brave-new-world coming to fruition with new lighting and new shaders :D Closing this out.

[2020-11-02 03:13] #108 closed

[2020-11-02 03:14] jdolan commented on #101
@Paril Assigning this to you as you saw a bug with material loading and footsteps.

[2020-11-09 17:58] #102 closed

[2021-01-01 13:37] jdolan commented on #86
This can and should just be simplified as follows:

Cg_DrawBlendEffect should have 3 hard coded colors depending on cgi.PointContents:
 * Lava, red / orange
 * Slime, green
 * Water, blue

These colors can be very subtle, because many water volumes will now include colored fog to address this. Any takers? @ypsvlq this is a layup of a ticket for cgame.

[2021-01-01 13:40] jdolan commented on #86
This is actually already implemented in Cg_DrawBlend. My bad! Closing out :)

[2021-01-01 13:40] #86 closed

[2021-01-01 13:47] jdolan commented on #97
We will be dropping Trial from 1.0.

[2021-01-01 13:47] #97 closed

[2021-01-01 13:51] #64 closed

[2021-01-01 14:08] jdolan commented on #91
Dragoon is currently the only player model included in the game data that does not include tintmaps for his default and CTF skins. Would anyone be interested in knocking those out and updating player-dragoon.pk3 to include them?

[2021-01-01 14:09] #53 closed

[2021-01-04 12:54] jdolan opened #112 "Rage update"
Update Rage for latest master.

[2021-01-04 12:54] jdolan opened #113 "Aerowalk update"
Update map for latest master.

[2021-01-04 12:55] jdolan opened #114 "Chastity Belt Duel update"
Update map for latest master.

[2021-01-04 12:55] jdolan opened #115 "Dark Zone update"
Update map for latest master.

[2021-01-04 12:56] jdolan opened #116 "Stress Fractures retexture and update"
Update map for latest master. Consider retexturing with Rygel.

[2021-01-04 12:57] jdolan opened #117 "Grunt No More update"
Update map for latest master.

[2021-01-04 13:00] jdolan opened #118 "Gehenna update"
Update map for latest master.

[2021-01-04 13:06] jdolan opened #119 "One Must Fall update"
Update map for latest master. This is a map that has yet to receive enough attention in Quetoo. One of Pan's best. Let's get this sexy mofo updated soon.

[2021-01-04 13:07] jdolan opened #120 "Turbo Nerd update"
Update map for latest master.

[2021-01-04 13:10] jdolan commented on #101
Anyone working on map updates should take the opportunity to add footsteps to the materials files. We have multiple sets of footstep sounds for wood, grass, snow, ice, metal, etc.

#120 #119 #118 #117 #116 #115 #114 #113 #112

[2021-01-04 13:10] jdolan commented on #101
I'll take a few minutes and update all of the q2dm maps next time I'm in there.

[2021-01-04 13:38] jdolan commented on #120
This is an instagib map, and should specify instagib gameplay in worldspawn. I'm not sure about including this one in the default maps.list...

[2021-01-04 13:38] jdolan commented on #119
Side note, let's rename the file to `onemustfall.{map,bsp}` as part of this update.

[2021-02-12 15:56] SpineyPete opened #125 "Map Details and Player Scale"
This is something that's a minor issue with some maps, but the scale of certain textures and brushes is a bit off in some maps. This is a classic problem but easy to fix in most cases. Just run around a map in third person and look if the player looks like a midget. For example on Torn the individual stairs should probably be half as high, there's also the barrels which are huge. Quetoo is not a r

[2021-02-12 17:13] jdolan commented on #125
I agree. Most of our maps use 8u stairs now, and Torn should be updated as such. I haven't tried this already because of the light sources on the stair risers. But I'm sure there's a workable solution.

This was / is even worse in Quake2, btw. This is a big part of why I experimented with scaling our player model and bounding box up from Quake2's comically small size. Stairs are up to grunt's wais

[2021-12-23 05:30] jdolan commented on #118
This is done.

[2021-12-23 05:30] #118 closed

[2021-12-23 05:31] jdolan commented on #115
This is done.

[2021-12-23 05:31] #115 closed

[2021-12-23 05:32] jdolan commented on #112
This is done.

[2021-12-23 05:32] #112 closed

[2021-12-27 16:19] jdolan opened #129 "Convert all normalmaps to RGB and re-zip maps"
We've recently dropped parallax mapping, and so there's no reason to include heightmaps or alpha-channel normalmaps in our game assets. Batch-converting all normalmaps that we have would allow us to:

1. Spot the ones that are shit (alpha transparency makes this hard to detect)
2. Save some disk space on pk3 archives

This can be done by simply:

1. Unzipping all pk3's to ~/.quetoo/default
2. Runn

[2021-12-27 17:18] jdolan commented on #129
Whoever takes this ticket should also edit all of the materials files to delete the parallax lines. They are harmless, but noise at this point.

[2021-12-29 14:33] Panjoo commented on #129
Problem with the used textures is that, in order for parallax shadows to look better, I had to get rid of any drawn shadows. Like baked-in shadow borders that conflicted with the realtime shadowing. But now without the parallax shading, they look too flat.

I'm already going through the used textures one more time in photoshop to add back some more contrast and depth. My photoshop has the 'action-

[2021-12-29 16:29] jdolan-chwy commented on #129
We should just be able to tune the normalmaps (or even easier: just ramp up the `roughness` in the material file, which multiplies the X and Y but not the Z of the normalmap color) to give the textures more definition with respect to lighting. We shouldn't have "fake light" in the textures at all, parallax or no parallax.

[2021-12-29 16:30] jdolan-chwy commented on #129
Either way, tho, thank you for doing this! 😍

[2021-12-29 18:31] Panjoo commented on #129
Yes, one of the first things I noticed was that increasing the `roughness` has a nice effect.
I also started testing with fresh .materials for the maps, and I have to say that with everything reset to 1 (default) it looks not half bad. From what I can tell at this point, I got a good feeling about this.

[2021-12-29 18:55] jdolan-chwy commented on #129
Nice! You know about `quemap -mat my/map.map` generating a "clean" material file for you right?

[2022-01-31 13:36] #101 closed

[2022-01-31 13:37] jdolan commented on #88
This is done and working :)

[2022-01-31 13:37] #88 closed

[2022-01-31 13:44] jdolan commented on #109
https://www.quakeworld.nu/wiki/Death32c
https://www.doomworld.com/idgames/idstuff/quakeworld/maps/deathpack1u

[2022-02-10 00:08] #39 closed

[2022-03-08 14:56] Panjoo commented on #129
... also edit all of the materials files to delete the parallax lines.

 -> This is done and will all be included in the Re-Zipped pk3's when they're ready.

[2022-03-08 14:56] #129 closed